@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 {
      height: auto;
      margin: 0;
      z-index: unset;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      cursor: auto;
    }
    .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element {
      width: 100%;
      padding: 0 32px;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
    }
    @media (max-width: 991px) {
      .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 0 16px;
      }
    }
    @media (max-width: 767px) {
      .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 12px;
      }
    }
    .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-section-09c3e4cf-6a10-4324-860d-dfcbd9018889 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 {
      margin: 0;
      padding: 32px 24px;
      overflow: hidden;
      z-index: unset;
      align-self: center;
      display: flex;
      width: 400px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 1px 1px #10182805;
      border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
      border-radius: 12px;
    }
    .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"] {
        display: flex;
      }
    }
    .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout:hover, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout:hover, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3.ww-layout:hover, .ww-element-57976fab-62df-43fa-8d83-c6165b0950c3 [data-ww-layout-style-scopes~="57976fab-62df-43fa-8d83-c6165b0950c3"]:hover {
        display: flex;
      }
    }
    .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed {
      margin: 50px 0 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 940px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed.ww-layout, .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed [data-ww-layout-style-scopes~="faddf5e1-4d2d-49b3-8dcf-50a0072a25ed"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed.ww-layout, .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed [data-ww-layout-style-scopes~="faddf5e1-4d2d-49b3-8dcf-50a0072a25ed"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed.ww-layout, .ww-element-faddf5e1-4d2d-49b3-8dcf-50a0072a25ed [data-ww-layout-style-scopes~="faddf5e1-4d2d-49b3-8dcf-50a0072a25ed"] {
        display: flex;
      }
    }
    .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc {
      margin: 16px 0 0;
      padding: 0 16px;
      z-index: unset;
      align-self: flex-start;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 40px;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 20px;
      font-weight: 500;
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      cursor: pointer;
      box-shadow: 0 1px 1px #27272a05;
      border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc {
        white-space-collapse: preserve;
      }
    }
    .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc:hover {
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a3d3df33-4060-4fdd-a572-9bb96c60e8fc:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-7762cbf6-97b0-42b7-9abf-322d782b8e4f {
      margin: 0;
      padding: 0 0 0 12px;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 38px;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 24px;
      font-weight: 400;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      letter-spacing: 0;
      word-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
      --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
    }
    @media (max-width: 991px) {
      .ww-element-7762cbf6-97b0-42b7-9abf-322d782b8e4f {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7762cbf6-97b0-42b7-9abf-322d782b8e4f {
        white-space-collapse: preserve;
      }
    }
    .ww-element-89e41b27-e913-4a85-ad14-350783241a72 {
      margin: 0 0 4px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-89e41b27-e913-4a85-ad14-350783241a72 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-89e41b27-e913-4a85-ad14-350783241a72 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e.ww-layout, .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e [data-ww-layout-style-scopes~="bff43302-3cb9-4b62-8bf5-0f1a2bd4097e"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e.ww-layout, .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e [data-ww-layout-style-scopes~="bff43302-3cb9-4b62-8bf5-0f1a2bd4097e"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e.ww-layout, .ww-element-bff43302-3cb9-4b62-8bf5-0f1a2bd4097e [data-ww-layout-style-scopes~="bff43302-3cb9-4b62-8bf5-0f1a2bd4097e"] {
        display: flex;
      }
    }
    .ww-element-a674bcf1-dbdb-42ba-a5d6-c7bce495bb33 {
      margin: 0 0 0 8px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-dba7cd8c-c1cc-4bc1-8e73-4b398339d272 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70 {
      margin: 48px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-a205677b-388c-4327-bbda-1d9cfd6bba70-base-default;
    }
    @keyframes ww-keyframes-element-a205677b-388c-4327-bbda-1d9cfd6bba70-base-default {
      0% {
      }
      100% {
      }
    }
    .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70.ww-layout, .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70 [data-ww-layout-style-scopes~="a205677b-388c-4327-bbda-1d9cfd6bba70"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70.ww-layout, .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70 [data-ww-layout-style-scopes~="a205677b-388c-4327-bbda-1d9cfd6bba70"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70.ww-layout, .ww-element-a205677b-388c-4327-bbda-1d9cfd6bba70 [data-ww-layout-style-scopes~="a205677b-388c-4327-bbda-1d9cfd6bba70"] {
        display: flex;
      }
    }
    .ww-element-a358d905-8445-4467-83dc-6f65b399670f {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-f75ba623-864f-42c0-92e5-aa74f59392bf {
      margin: 0 8px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-cb7f30c7-82ac-4d09-b445-fbb9bfad6714 {
      margin: 0 0 4px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-cb7f30c7-82ac-4d09-b445-fbb9bfad6714 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-cb7f30c7-82ac-4d09-b445-fbb9bfad6714 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2 {
      margin: 0 0 20px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2.ww-layout, .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2 [data-ww-layout-style-scopes~="179176e5-66c0-4ba2-a9b7-b313e7a0b7c2"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2.ww-layout, .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2 [data-ww-layout-style-scopes~="179176e5-66c0-4ba2-a9b7-b313e7a0b7c2"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2.ww-layout, .ww-element-179176e5-66c0-4ba2-a9b7-b313e7a0b7c2 [data-ww-layout-style-scopes~="179176e5-66c0-4ba2-a9b7-b313e7a0b7c2"] {
        display: flex;
      }
    }
    .ww-element-8d672bfb-47f9-4a35-9a7a-2d45c622a393 {
      margin: 0;
      padding: 0 0 0 12px;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 38px;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 24px;
      font-weight: 400;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      letter-spacing: 0;
      word-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
      --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
    }
    @media (max-width: 991px) {
      .ww-element-8d672bfb-47f9-4a35-9a7a-2d45c622a393 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-8d672bfb-47f9-4a35-9a7a-2d45c622a393 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-d6c3aeed-73b1-4e4c-88fd-7a0d88510d36 {
      margin: 16px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--e627551f-2a56-4b99-b7ba-0c6b0940ab96, 500 14px/20px var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: #e56161;
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-d6c3aeed-73b1-4e4c-88fd-7a0d88510d36 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d6c3aeed-73b1-4e4c-88fd-7a0d88510d36 {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
