@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Mt_IyO1ahYQMxfyW {
        z-index: unset;
        max-height: unset;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d7 {
        height: auto;
        aspect-ratio: unset;
        margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      @media (max-width: 767px) {
        .ww-s-d7 {
          margin: 0;
          display: flex;
        }
      }
      .ww-s-d7 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 0;
        min-height: 100vh;
      }
      @media (max-width: 767px) {
        .ww-s-d7 > .ww-section-element {
          padding: 4rem 0 0;
        }
      }
      .ww-s-d7 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-s-d7 > .ww-section-element.ww-layout {
          display: flex;
          flex-flow: column;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ZNz9_JZUzrBgLYCi {
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YRfn88Fc_a_pUrQN {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-bADOFiuil5qDsyIo {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ahp3QuXRRP6iDxPs {
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-XZ1OQUYyP82I9XLP {
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d2S {
        margin: 0;
        align-self: unset;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        font: var(--200d839a-3a1d-4637-bd55-56fa5bc38429, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--5906233a-a06d-42c3-afdf-e6b550075d18,#6B46C1);
        white-space-collapse: preserve;
      }
      .ww-e-d2Z {
        margin: 0;
        padding: 0;
        align-self: unset;
        width: 100%;
        flex: 0 1 auto;
        font-size: 19px;
        text-align: left;
        color: var(--580fd5d8-785f-4320-b27d-dc3e7e15030d, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d2a {
        margin: 0;
        padding: 20px;
        display: flex;
        width: 100%;
        background-color: #f5f0ff;
      }
      @media (max-width: 991px) {
        .ww-e-d2a {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d2a {
          display: flex;
        }
      }
      .ww-e-d2a.ww-layout, .ww-e-d2a [data-ww-ls~="d2a"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0;
      }
      @media (max-width: 991px) {
        .ww-e-d2a.ww-layout, .ww-e-d2a [data-ww-ls~="d2a"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d2a.ww-layout, .ww-e-d2a [data-ww-ls~="d2a"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      .ww-e-d4y {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d4z {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d50 {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d59 {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d5E {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d5F {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d5H {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d5z {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d66 {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d67 {
        margin: 0;
        padding: 0;
        z-index: 2;
        display: flex;
        position: revert-layer;
        inset: revert-layer;
        min-height: 100vh;
      }
      @media (max-width: 991px) {
        .ww-e-d67 {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d67 {
          display: flex;
        }
      }
      .ww-e-d67.ww-layout, .ww-e-d67 [data-ww-ls~="d67"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0;
      }
      @media (max-width: 991px) {
        .ww-e-d67.ww-layout, .ww-e-d67 [data-ww-ls~="d67"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d67.ww-layout, .ww-e-d67 [data-ww-ls~="d67"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      .ww-e-d68 {
        margin: 0;
        align-self: unset;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        font: var(--200d839a-3a1d-4637-bd55-56fa5bc38429, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--5906233a-a06d-42c3-afdf-e6b550075d18,#6B46C1);
        white-space-collapse: preserve;
      }
      .ww-e-d69 {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d6G {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d7Q {
        margin: 0;
        padding: 0 20px 20px;
        display: flex;
        width: 100%;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      @media (max-width: 991px) {
        .ww-e-d7Q {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7Q {
          display: flex;
        }
      }
      .ww-e-d7Q.ww-layout, .ww-e-d7Q [data-ww-ls~="d7Q"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0;
      }
      @media (max-width: 991px) {
        .ww-e-d7Q.ww-layout, .ww-e-d7Q [data-ww-ls~="d7Q"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7Q.ww-layout, .ww-e-d7Q [data-ww-ls~="d7Q"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      .ww-e-d7T {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d7U {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d7b {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d7s {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d7z {
        margin: 0;
        padding: 50px 10px 10px;
        display: flex;
        width: 80%;
        background-color: var(--f5205d71-1337-45d3-a94a-962385d35e54,#FFFFFF);
      }
      @media (max-width: 991px) {
        .ww-e-d7z {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7z {
          display: flex;
        }
      }
      .ww-e-d7z.ww-layout, .ww-e-d7z [data-ww-ls~="d7z"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
      }
      @media (max-width: 991px) {
        .ww-e-d7z.ww-layout, .ww-e-d7z [data-ww-ls~="d7z"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
          column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7z.ww-layout, .ww-e-d7z [data-ww-ls~="d7z"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
          column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        }
      }
      .ww-e-d80 {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d81 {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d82 {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d84 {
        margin: 0;
        padding: 0;
        align-self: unset;
        width: 100%;
        flex: 0 1 auto;
        font-size: 19px;
        text-align: left;
        color: var(--580fd5d8-785f-4320-b27d-dc3e7e15030d, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d8B {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d8F {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d8L {
        margin: 0;
        padding: 0 20px 20px;
        display: flex;
        width: 100%;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      @media (max-width: 991px) {
        .ww-e-d8L {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8L {
          display: flex;
        }
      }
      .ww-e-d8L.ww-layout, .ww-e-d8L [data-ww-ls~="d8L"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0;
      }
      @media (max-width: 991px) {
        .ww-e-d8L.ww-layout, .ww-e-d8L [data-ww-ls~="d8L"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8L.ww-layout, .ww-e-d8L [data-ww-ls~="d8L"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      .ww-e-d8P {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d8Q {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d8R {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d8S {
        margin: 0;
        width: 100%;
        font: var(--4e3cfba6-0330-4c70-bf29-d8dd3d4d3b94, 700 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d8T {
        margin: 0;
        padding: 20px;
        display: flex;
        width: 100%;
        background-color: #f5f0ff;
      }
      @media (max-width: 991px) {
        .ww-e-d8T {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8T {
          display: flex;
        }
      }
      .ww-e-d8T.ww-layout, .ww-e-d8T [data-ww-ls~="d8T"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0;
      }
      @media (max-width: 991px) {
        .ww-e-d8T.ww-layout, .ww-e-d8T [data-ww-ls~="d8T"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8T.ww-layout, .ww-e-d8T [data-ww-ls~="d8T"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 0;
        }
      }
      .ww-e-d8U {
        margin: 0;
        padding: 10px 35px 0 0;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        width: 100%;
        aspect-ratio: unset;
        background-color: var(--f5205d71-1337-45d3-a94a-962385d35e54,#FFFFFF);
      }
      .ww-e-d8U.ww-layout, .ww-e-d8U [data-ww-ls~="d8U"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: revert-layer;
      }
      .ww-e-d8V {
        margin: 0;
        padding: 50px 10px 10px;
        display: flex;
        width: 80%;
        background-color: var(--f5205d71-1337-45d3-a94a-962385d35e54,#FFFFFF);
      }
      @media (max-width: 991px) {
        .ww-e-d8V {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8V {
          display: flex;
        }
      }
      .ww-e-d8V.ww-layout, .ww-e-d8V [data-ww-ls~="d8V"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
      }
      @media (max-width: 991px) {
        .ww-e-d8V.ww-layout, .ww-e-d8V [data-ww-ls~="d8V"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
          column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d8V.ww-layout, .ww-e-d8V [data-ww-ls~="d8V"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          row-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
          column-gap: var(--62be028c-d2e3-4b9b-81d3-606bc50884f8, 2rem);
        }
      }
      .ww-e-d8W {
        margin: 0;
        display: flex;
        width: 100%;
        background-color: var(--f5205d71-1337-45d3-a94a-962385d35e54,#FFFFFF);
      }
      .ww-e-d8W.ww-layout, .ww-e-d8W [data-ww-ls~="d8W"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d8X {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d8p {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d94 {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d96 {
        margin: 0;
        padding: 0 0 20px;
        width: 100%;
        font: var(--d92a1cb7-94b6-4feb-9413-e70e51979f97, 400 18px/26px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
