@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Mt_IyO1ahYQMxfyW {
        z-index: unset;
        max-height: unset;
      }
      .ww-a-DibRDBsdncAneMNy {
        width: 100%;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d2 {
        height: auto;
        margin: 0;
        min-height: 100vh;
        display: flex;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        cursor: auto;
      }
      .ww-s-d2 > .ww-section-element {
        padding: 0 32px;
        max-width: unset;
        min-height: 100vh;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: initial;
          --ww-section-root-auto-width: initial;
          padding: 0 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element {
          --ww-section-root-auto-align: initial;
          --ww-section-root-auto-width: initial;
          padding: 12px;
        }
      }
      .ww-s-d2 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
      @media (max-width: 991px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
      @media (max-width: 767px) {
        .ww-s-d2 > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JU5hsWRMf20xKDmf {
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZsYZ3YoZqUHlROHD {
        z-index: unset;
        display: flex;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d1C {
        padding: 32px 24px;
        overflow: hidden;
        align-self: center;
        width: 400px;
        height: auto;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 1px 1px #10182805;
        border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
        border-radius: 12px;
      }
      .ww-e-d1C.ww-layout, .ww-e-d1C [data-ww-ls~="d1C"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d1D {
        margin: 50px 0 0;
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      }
      .ww-e-d1D.ww-layout, .ww-e-d1D [data-ww-ls~="d1D"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1G {
        margin: 16px 0 0;
        padding: 0 16px;
        align-self: flex-start;
        width: 100%;
        max-width: unset;
        height: 40px;
        font-size: 14px;
        font-family: Inter, sans-serif;
        line-height: 20px;
        font-weight: 500;
        color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        cursor: pointer;
        box-shadow: 0 1px 1px #27272a05;
        border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        border-radius: 8px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1G:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-d1H {
        margin: 0;
        padding: 0 0 0 12px;
        width: 100%;
        height: 38px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d2E {
        margin: 0 0 4px;
        font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2f {
        width: 100%;
      }
      .ww-e-d2f.ww-layout, .ww-e-d2f [data-ww-ls~="d2f"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d2g {
        margin: 0 0 0 8px;
      }
      .ww-e-d2w {
        width: revert-layer;
      }
      .ww-e-d2x {
        margin: 48px 0 0;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-a205677b-388c-4327-bbda-1d9cfd6bba70-base-default;
      }
      @keyframes ww-keyframes-element-a205677b-388c-4327-bbda-1d9cfd6bba70-base-default {
        0% {
        }
        100% {
        }
      }
      .ww-e-d2x.ww-layout, .ww-e-d2x [data-ww-ls~="d2x"] {
        display: flex;
      }
      .ww-e-d3O {
        width: revert-layer;
      }
      .ww-e-d3P {
        margin: 0 8px 0 0;
      }
      .ww-e-d3Q {
        margin: 0 0 4px;
        font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5u {
        margin: 0 0 20px;
        width: 100%;
      }
      .ww-e-d5u.ww-layout, .ww-e-d5u [data-ww-ls~="d5u"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d8r {
        margin: 0;
        padding: 0 0 0 12px;
        width: 100%;
        height: 38px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-dBJ {
        margin: 16px 0 0;
        display: var(--ww-style-display, none);
        font: var(--e627551f-2a56-4b99-b7ba-0c6b0940ab96, 500 14px/20px var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: #e56161;
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
