@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 {
      height: auto;
      margin: 0;
      z-index: unset;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      cursor: auto;
    }
    .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element {
      width: 100%;
      padding: 0 32px;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
    }
    @media (max-width: 991px) {
      .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 0 16px;
      }
    }
    @media (max-width: 767px) {
      .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 12px;
      }
    }
    .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-section-01d09b4f-679a-4a19-bebf-f968ea5275a3 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-6939f2f9-1295-4fba-8e3b-e53281636e7b {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 {
      margin: 0;
      padding: 32px 24px;
      overflow: hidden;
      z-index: unset;
      align-self: center;
      display: flex;
      width: 400px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 1px 1px #10182805;
      border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
      border-radius: 12px;
    }
    .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"] {
        display: flex;
      }
    }
    .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout:hover, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout:hover, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5.ww-layout:hover, .ww-element-d213cd56-dc16-4785-9a8a-4439709db4b5 [data-ww-layout-style-scopes~="d213cd56-dc16-4785-9a8a-4439709db4b5"]:hover {
        display: flex;
      }
    }
    .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee {
      margin: 50px 0 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 940px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee.ww-layout, .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee [data-ww-layout-style-scopes~="8d53bcdd-2f2e-405c-a30d-818c2dbdebee"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee.ww-layout, .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee [data-ww-layout-style-scopes~="8d53bcdd-2f2e-405c-a30d-818c2dbdebee"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee.ww-layout, .ww-element-8d53bcdd-2f2e-405c-a30d-818c2dbdebee [data-ww-layout-style-scopes~="8d53bcdd-2f2e-405c-a30d-818c2dbdebee"] {
        display: flex;
      }
    }
    .ww-element-8fd31867-8143-4665-b60e-eee2b393353a {
      margin: 0;
      padding: 0 0 0 12px;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 38px;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 24px;
      font-weight: 400;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      letter-spacing: 0;
      word-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
      --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
    }
    @media (max-width: 991px) {
      .ww-element-8fd31867-8143-4665-b60e-eee2b393353a {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-8fd31867-8143-4665-b60e-eee2b393353a {
        white-space-collapse: preserve;
      }
    }
    .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b {
      margin: 16px 0 0;
      padding: 0 16px;
      z-index: unset;
      align-self: flex-start;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 40px;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 20px;
      font-weight: 500;
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      cursor: pointer;
      box-shadow: 0 1px 1px #27272a05;
      border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b {
        white-space-collapse: preserve;
      }
    }
    .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b:hover {
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ff6f32b1-fb22-45c2-a94c-da2aebd89c7b:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-1bbd6cd0-f29b-4017-9a87-766255f3291c {
      margin: 0 8px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-446c54d1-60e4-400a-8a33-57afee0fcb63 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-2f4f4407-6b56-48ca-aeb4-0ebaad4c9f79 {
      margin: 0 0 0 8px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8 {
      margin: 0 0 20px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8.ww-layout, .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8 [data-ww-layout-style-scopes~="7882ed20-3b09-4a17-87a9-0f13946daee8"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8.ww-layout, .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8 [data-ww-layout-style-scopes~="7882ed20-3b09-4a17-87a9-0f13946daee8"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8.ww-layout, .ww-element-7882ed20-3b09-4a17-87a9-0f13946daee8 [data-ww-layout-style-scopes~="7882ed20-3b09-4a17-87a9-0f13946daee8"] {
        display: flex;
      }
    }
    .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef {
      margin: 48px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef-base-default;
    }
    @keyframes ww-keyframes-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef-base-default {
      0% {
      }
      100% {
      }
    }
    .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef.ww-layout, .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef [data-ww-layout-style-scopes~="9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef.ww-layout, .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef [data-ww-layout-style-scopes~="9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef.ww-layout, .ww-element-9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef [data-ww-layout-style-scopes~="9d8d36f1-bb2b-4cc9-bcc5-9461d9d9e7ef"] {
        display: flex;
      }
    }
    .ww-element-8be8898b-a8ad-4792-8375-ac10d8010a9e {
      margin: 16px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--e627551f-2a56-4b99-b7ba-0c6b0940ab96, 500 14px/20px var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: #e56161;
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-8be8898b-a8ad-4792-8375-ac10d8010a9e {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-8be8898b-a8ad-4792-8375-ac10d8010a9e {
        white-space-collapse: preserve;
      }
    }
    .ww-element-2026db35-2eb5-48f2-bae6-df8bb92e7102 {
      margin: 0 0 4px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-2026db35-2eb5-48f2-bae6-df8bb92e7102 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-2026db35-2eb5-48f2-bae6-df8bb92e7102 {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
