@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d5 {
        margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
        overflow: scroll;
        min-height: 100vh;
        display: flex;
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      }
      @media (max-width: 767px) {
        .ww-s-d5 {
          margin: 0;
          display: flex;
        }
      }
      .ww-s-d5 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        width: 100%;
        padding: 60px 0 30px;
        min-height: 100vh;
        box-shadow: 0 2px 6px #0000000f;
      }
      @media (max-width: 767px) {
        .ww-s-d5 > .ww-section-element {
          padding: 4rem 0 0;
        }
      }
      .ww-s-d5 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
      @media (max-width: 767px) {
        .ww-s-d5 > .ww-section-element.ww-layout {
          display: flex;
          flex-flow: column;
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YRfn88Fc_a_pUrQN {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-KqEK8kr8HF6dDCGs {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7z7Fp3CUQKsvog5J {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LDmpW3IfZ4eTGdcl {
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xgfU0ILP5VyL4zt- {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-6zH2fOQn6XA4TIIi {
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-tfxrUKdwzbzgXsRe {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a--ohg53bQUAtv5-EJ {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        height: auto;
      }
    }
    @layer ordered {
      .ww-e-dAg {
        display: flex;
        width: 100%;
      }
      .ww-e-dAg.ww-layout, .ww-e-dAg [data-ww-ls~="dAg"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-dAh.ww-layout, .ww-e-dAh [data-ww-ls~="dAh"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAi {
        margin: 2px 0 0;
        padding: 15px;
        display: flex;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid #e0e0e0;
        border-radius: 30px;
      }
      .ww-e-dAi.ww-layout, .ww-e-dAi [data-ww-ls~="dAi"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAj {
        display: flex;
      }
      .ww-e-dAj.ww-layout, .ww-e-dAj [data-ww-ls~="dAj"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAk {
        margin: 0;
        padding: 8px;
        align-self: unset;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        font-size: 14px;
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 0 solid #e0e0e0;
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-dAl {
        overflow: unset;
        width: 35%;
        height: auto;
        aspect-ratio: unset;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-dAm {
        padding: 10px 0 0;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAn {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dAo {
        margin: 5px 0 0 5px;
        padding: 0;
        align-self: flex-start;
        width: 25px;
        background-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        border-radius: 5px;
      }
      .ww-e-dAp {
        padding: 12px 24px;
        height: 40px;
        aspect-ratio: unset;
        font-size: 16px;
        font-weight: 500;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-dAp:where(:hover) {
        color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        background-color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-dAq.ww-layout, .ww-e-dAq [data-ww-ls~="dAq"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAr {
        margin: 5px 5px 0 0;
        align-self: flex-start;
        width: 25px;
        border: 0 solid #e0e0e0;
        border-radius: 5px;
      }
      .ww-e-dAs {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dAt {
        margin: 0 0 20px;
        align-self: center;
        width: 35px;
        flex: 0 1 auto;
        border: 0 solid #e0e0e0;
        border-radius: 5px;
      }
      .ww-e-dAu {
        padding: 20px 0 30px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAv {
        padding: 30px 0 0;
        width: revert-layer;
        font: var(--5cd34ef8-3e66-48d9-a40c-173b6be0752a, 700 36px/40px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAw {
        margin: 0;
        padding: 0 100px;
        overflow: unset;
        display: flex;
        width: 70%;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dAw.ww-layout, .ww-e-dAw [data-ww-ls~="dAw"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAx {
        overflow: hidden;
        align-self: unset;
        display: flex;
        flex: 0 1 auto;
        min-width: 400px;
        max-height: 600px;
        min-height: 900px;
      }
      .ww-e-dAx.ww-layout, .ww-e-dAx [data-ww-ls~="dAx"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dAz {
        margin: 5px 10px 0 5px;
        align-self: flex-start;
        width: 25px;
        border: 0 solid #e0e0e0;
        border-radius: 5px;
      }
      .ww-e-dB0 {
        display: flex;
      }
      .ww-e-dB0.ww-layout, .ww-e-dB0 [data-ww-ls~="dB0"] {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: revert-layer;
      }
      .ww-e-dB1 {
        display: flex;
        width: 90%;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-dB1.ww-layout, .ww-e-dB1 [data-ww-ls~="dB1"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dB2 {
        display: flex;
        width: 10%;
      }
      .ww-e-dB2.ww-layout, .ww-e-dB2 [data-ww-ls~="dB2"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
      }
      .ww-e-dB3 {
        display: flex;
        width: 90%;
      }
      .ww-e-dB3.ww-layout, .ww-e-dB3 [data-ww-ls~="dB3"] {
        display: flex;
        flex-flow: column;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
