@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dJ {
        margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      }
      @media (max-width: 767px) {
        .ww-s-dJ {
          margin: 0;
          display: flex;
        }
      }
      .ww-s-dJ > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        width: 100%;
        padding: 60px 20px 30px;
        min-height: 100vh;
        box-shadow: 0 2px 6px #0000000f;
      }
      @media (max-width: 767px) {
        .ww-s-dJ > .ww-section-element {
          padding: 4rem 0 0;
        }
      }
      .ww-s-dJ > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
      @media (max-width: 767px) {
        .ww-s-dJ > .ww-section-element.ww-layout {
          display: flex;
          flex-flow: column;
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-yrzJJJz19ti0_Fca {
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-11o189YJ-X9gY18t {
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a--x5kU5wb778UwlZt {
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-eCMaaPUTIERimuVG {
        margin: 0;
        z-index: unset;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-b3CuKZCf5OX6dONX {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-7z7Fp3CUQKsvog5J {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-rTsqU64juf9F-b7N {
        margin: 0;
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZUlLyTg5tkWY6URX {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-_rxiAnQ9Oc5JL4Rc {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-8_yMkiAXDN57W1kM {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-aLhxHbS4VpHOMYmz {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-nZjgbPdLeWAAAagC {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7iHKnMlLPzBqiAyC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CgHzhu3VSqpcs79I {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3kQ7I1BKF_8Ppomd {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-aHkaB3RIQAvSD9RJ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Gzr4QqAdgm7LLr7s {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-NbPk_uk3UiLwzydA {
        margin: 0;
        padding: 0;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-y_tz647qCUfbEr2V {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-OWHn2PZNt1TTrz9m {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GNesFkzifHrwkjh4 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-6N55Z-BsXmtn0S5J {
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qzMQ-YcirvVl1Ta3 {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dw {
        margin: 0;
        padding: 0;
        align-self: center;
        width: 60%;
        height: auto;
        aspect-ratio: unset;
        font-size: 18px;
        font-weight: 500;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-dw:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-dw:where([data-ww-states~="H1pUBX"]) {
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      }
      .ww-e-dy {
        padding: 30px 0 0;
        font: var(--3e186a16-30b5-4f7b-a2ea-e239a68bd833, 700 2.5rem/1.2 var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d13 {
        margin: 20px 0 0 10px;
        padding: 8px;
        width: 400px;
        height: 36px;
        font-size: 14px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d14 {
        margin: 0 0 0 10px;
        padding: 8px;
        width: 400px;
        height: 36px;
        font-size: 14px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d1G {
        margin: 0 0 80px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d1G.ww-layout, .ww-e-d1G [data-ww-ls~="d1G"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1H {
        margin: 0 10px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1I {
        padding: 0 10px;
        align-self: center;
        display: flex;
        width: 95%;
        min-width: 120px;
        height: 20px;
        background-color: var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d1J {
        padding: 0 0 0 10px;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1K {
        padding: 30px 0 30px 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1L {
        padding: 0 0 65px;
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d1L.ww-layout, .ww-e-d1L [data-ww-ls~="d1L"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d1N {
        padding: 10px 24px;
        width: 20%;
        font-size: 16px;
        font-weight: 500;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d1N:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d1N:where([data-ww-states~="H1pUBX"]) {
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        background-color: #f5f0ff;
      }
      .ww-e-d1O {
        display: flex;
        width: 100%;
        max-width: 940px;
        height: 100px;
        aspect-ratio: unset;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d1O.ww-layout, .ww-e-d1O [data-ww-ls~="d1O"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
      }
      .ww-e-d1T {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1W {
        margin: 0 10px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1X {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1Y {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d1Y.ww-layout, .ww-e-d1Y [data-ww-ls~="d1Y"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1Z {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d1Z.ww-layout, .ww-e-d1Z [data-ww-ls~="d1Z"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1a {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1b {
        align-self: center;
        width: 30px;
        height: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 25px;
      }
      .ww-e-d1c {
        width: 16px;
      }
      .ww-e-d1d {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d1d.ww-layout, .ww-e-d1d [data-ww-ls~="d1d"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d1e {
        margin: 0 0 80px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d1e.ww-layout, .ww-e-d1e [data-ww-ls~="d1e"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1f {
        padding: 30px 0 0;
        display: var(--ww-style-display, none);
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d1f.ww-layout, .ww-e-d1f [data-ww-ls~="d1f"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d1g {
        width: 16px;
      }
      .ww-e-d1h {
        align-self: center;
        width: 30px;
        height: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 25px;
      }
      .ww-e-d1i {
        padding: 0 10px;
        align-self: center;
        width: 95%;
        min-width: 120px;
        height: 20px;
        background-color: var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d1j {
        margin: 0 0 30px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d1j.ww-layout, .ww-e-d1j [data-ww-ls~="d1j"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d1n {
        padding: 10px 24px;
        width: 20%;
        font-size: 16px;
        font-weight: 500;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d1n:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d1n:where([data-ww-states~="H1pUBX"]) {
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        background-color: #f5f0ff;
      }
      .ww-e-d1x {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d20 {
        display: flex;
        width: 100%;
        max-width: 1200px;
        height: 50px;
        aspect-ratio: unset;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        border: 0 solid;
      }
      .ww-e-d20.ww-layout, .ww-e-d20 [data-ww-ls~="d20"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        flex-wrap: revert-layer;
      }
      .ww-e-d26 {
        padding: 10px 0 0;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d27 {
        align-self: center;
        width: 200px;
      }
      .ww-e-d2A {
        z-index: 1;
        white-space-collapse: preserve;
      }
      .ww-e-d2C {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d2E.ww-layout, .ww-e-d2E [data-ww-ls~="d2E"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d2F {
        padding: 0 0 0 10px;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2d {
        padding: 0 0 0 10px;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2g {
        z-index: 1;
        display: block;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d2k {
        padding: 0 0 70px;
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d2k.ww-layout, .ww-e-d2k [data-ww-ls~="d2k"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d2t {
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: #f4f4f4;
      }
      .ww-e-d2t.ww-layout, .ww-e-d2t [data-ww-ls~="d2t"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d32 {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d32.ww-layout, .ww-e-d32 [data-ww-ls~="d32"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d33 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d34 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d3W.ww-layout, .ww-e-d3W [data-ww-ls~="d3W"] {
        display: flex;
      }
      .ww-e-d3Z {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d3h {
        margin: 0 10px 0 0;
        padding: 0;
        width: 20px;
      }
      .ww-e-d3p {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d3q.ww-layout, .ww-e-d3q [data-ww-ls~="d3q"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d3r {
        margin: 0 0 10px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        height: 40px;
        aspect-ratio: unset;
        border-top: 0 solid;
        border-bottom: 1px solid #e5e7eb;
        border-left: 0 solid;
        border-right: 0 solid;
      }
      .ww-e-d3r.ww-layout, .ww-e-d3r [data-ww-ls~="d3r"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-d3s {
        height: 10px;
        aspect-ratio: unset;
        font-size: 16px;
        white-space-collapse: preserve;
        background-color: #f4f4f4;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3t {
        height: 10px;
        aspect-ratio: unset;
        font-size: 16px;
        white-space-collapse: preserve;
        background-color: #f4f4f4;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3u {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3v {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3x {
        padding: 30px 0 30px 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3y {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3z {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d40 {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d41 {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d42 {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d43 {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d44 {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d44.ww-layout, .ww-e-d44 [data-ww-ls~="d44"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d45 {
        font-size: 14px;
        line-height: 18px;
        color: #465254;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d46 {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d47 {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d48 {
        margin: 0 0 50px;
        align-self: unset;
        display: grid;
        width: 100%;
        flex: 0 1 auto;
        max-width: 1200px;
        border: 0 solid #e5e7eb;
        border-radius: 8px;
      }
      .ww-e-d48.ww-layout, .ww-e-d48 [data-ww-ls~="d48"] {
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;
      }
      .ww-e-d49 {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d4A {
        margin: 0 0 50px;
        align-self: unset;
        display: grid;
        width: 100%;
        flex: 0 1 auto;
        max-width: 1200px;
        border: 0 solid #e5e7eb;
        border-radius: 8px;
      }
      .ww-e-d4A.ww-layout, .ww-e-d4A [data-ww-ls~="d4A"] {
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;
      }
      .ww-e-d4K {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      }
      @media (max-width: 991px) {
        .ww-e-d4K {
          padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d4K {
          padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
          display: flex;
        }
      }
      .ww-e-d4K.ww-layout, .ww-e-d4K [data-ww-ls~="d4K"] {
        display: block;
      }
      @media (max-width: 991px) {
        .ww-e-d4K.ww-layout, .ww-e-d4K [data-ww-ls~="d4K"] {
          display: flex;
          flex-flow: column;
          align-items: stretch;
          row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
          column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d4K.ww-layout, .ww-e-d4K [data-ww-ls~="d4K"] {
          display: flex;
          flex-flow: column;
          align-items: stretch;
          row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
          column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        }
      }
      .ww-e-d4L {
        margin: 0 0 0 10px;
        width: 180px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-d4M {
        padding: 20px 0 30px 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d4O {
        padding: 20px 0 30px 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d4T.ww-layout, .ww-e-d4T [data-ww-ls~="d4T"] {
        display: flex;
      }
      .ww-e-d4U {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d4V.ww-layout, .ww-e-d4V [data-ww-ls~="d4V"] {
        display: flex;
      }
      .ww-e-d4W {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d4W.ww-layout, .ww-e-d4W [data-ww-ls~="d4W"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d4Z {
        font-size: 14px;
        line-height: 18px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d4a {
        margin: 0 0 30px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d4a.ww-layout, .ww-e-d4a [data-ww-ls~="d4a"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d4c {
        display: flex;
        width: 100%;
        max-width: 940px;
        height: 100px;
        aspect-ratio: unset;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d4c.ww-layout, .ww-e-d4c [data-ww-ls~="d4c"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
      }
      .ww-e-d4o.ww-layout, .ww-e-d4o [data-ww-ls~="d4o"] {
        display: flex;
      }
      .ww-e-d4p {
        padding: 0 0 70px;
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d4p.ww-layout, .ww-e-d4p [data-ww-ls~="d4p"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d5A {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d5A.ww-layout, .ww-e-d5A [data-ww-ls~="d5A"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d5R {
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      }
      .ww-e-d5R.ww-layout, .ww-e-d5R [data-ww-ls~="d5R"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d5Y {
        padding: 30px 0 60px;
        display: var(--ww-style-display, flex);
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d5Y.ww-layout, .ww-e-d5Y [data-ww-ls~="d5Y"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d5Z {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d5a {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5b {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5c {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5d {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5e {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5f {
        padding: 20px 0 30px 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d6I {
        margin: 0;
        padding: 0 0 30px;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        border: 1px solid #e0e0e0;
      }
      .ww-e-d6I.ww-layout, .ww-e-d6I [data-ww-ls~="d6I"] {
        display: flex;
        row-gap: 16px;
      }
      .ww-e-d6K {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d6Y {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d6s {
        margin: 0 10px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        font-size: 16px;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d6v {
        align-self: unset;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        font-size: 30px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d6x {
        align-self: center;
        display: block;
        width: 95%;
        min-width: 120px;
      }
      .ww-e-d70 {
        padding: 10px 0 0;
        width: 100%;
        aspect-ratio: unset;
      }
      .ww-e-d7B {
        padding: 5px 0 0;
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d7D {
        margin: 0 0 0 10px;
        padding: 8px;
        width: 400px;
        height: 36px;
        font-size: 14px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d7E {
        align-self: unset;
        flex: 0 1 auto;
        height: 30px;
        aspect-ratio: unset;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        --ww-text-text-overflow: initial;
      }
      .ww-e-d9e {
        margin: 0 10px;
        padding: 10px;
        align-self: flex-start;
        width: 15%;
        height: 40px;
        aspect-ratio: unset;
        font-size: 16px;
        font-weight: 500;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d9e:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d9e:where([data-ww-states~="H1pUBX"]) {
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      }
      .ww-e-d9f {
        margin: 0 10px;
        padding: 10px;
        align-self: center;
        width: 15%;
        height: 40px;
        aspect-ratio: unset;
        font-size: 16px;
        font-weight: 500;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d9f:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d9f:where([data-ww-states~="H1pUBX"]) {
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      }
      .ww-e-d9i {
        padding: 10px 0 0;
        width: 100%;
        aspect-ratio: unset;
      }
      .ww-e-d9j.ww-layout, .ww-e-d9j [data-ww-ls~="d9j"] {
        display: flex;
      }
      .ww-e-d9k {
        margin: 0 0 80px;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
      }
      .ww-e-d9k.ww-layout, .ww-e-d9k [data-ww-ls~="d9k"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d9l.ww-layout, .ww-e-d9l [data-ww-ls~="d9l"] {
        display: flex;
      }
      .ww-e-d9m {
        aspect-ratio: unset;
      }
      .ww-e-d9n {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d9n.ww-layout, .ww-e-d9n [data-ww-ls~="d9n"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-d9o {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d9p {
        padding: 0 0 0 10px;
        display: flex;
        width: 5%;
      }
      .ww-e-d9p.ww-layout, .ww-e-d9p [data-ww-ls~="d9p"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      .ww-e-d9q {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d9r {
        width: 16px;
        height: auto;
        aspect-ratio: unset;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #767676;
        border-radius: 4px;
      }
      .ww-e-d9r:where([data-ww-states~="_wwChecked"]) {
        background-color: #767676;
      }
      .ww-e-d9r:where([data-ww-states~="_wwChecked_wwHover"]) {
        opacity: 0.9;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
