@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c {
      height: auto;
      margin: 0;
      z-index: unset;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      cursor: auto;
    }
    .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element {
      width: 100%;
      padding: 0 32px;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
    }
    @media (max-width: 991px) {
      .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 0 16px;
      }
    }
    @media (max-width: 767px) {
      .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element {
        --ww-section-root-auto-align: initial;
        --ww-section-root-auto-width: initial;
        padding: 12px;
      }
    }
    .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-section-17febb87-bcfb-4162-a637-0864f1fc508c > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0 {
      margin: 48px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0-base-default;
    }
    @keyframes ww-keyframes-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0-base-default {
      0% {
      }
      100% {
      }
    }
    .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0.ww-layout, .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0 [data-ww-layout-style-scopes~="b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0.ww-layout, .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0 [data-ww-layout-style-scopes~="b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0.ww-layout, .ww-element-b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0 [data-ww-layout-style-scopes~="b8ce495d-2447-44d4-bb6c-b2c8ba1f99b0"] {
        display: flex;
      }
    }
    .ww-element-4edc2645-cdac-427f-8e74-626b4863c295 {
      margin: 0 0 20px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-4edc2645-cdac-427f-8e74-626b4863c295.ww-layout, .ww-element-4edc2645-cdac-427f-8e74-626b4863c295 [data-ww-layout-style-scopes~="4edc2645-cdac-427f-8e74-626b4863c295"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-4edc2645-cdac-427f-8e74-626b4863c295.ww-layout, .ww-element-4edc2645-cdac-427f-8e74-626b4863c295 [data-ww-layout-style-scopes~="4edc2645-cdac-427f-8e74-626b4863c295"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-4edc2645-cdac-427f-8e74-626b4863c295.ww-layout, .ww-element-4edc2645-cdac-427f-8e74-626b4863c295 [data-ww-layout-style-scopes~="4edc2645-cdac-427f-8e74-626b4863c295"] {
        display: flex;
      }
    }
    .ww-element-fc35ae3c-ba0b-4bb0-983f-8aa70fdab059 {
      margin: 0 0 0 8px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 {
      margin: 0;
      padding: 32px 24px;
      overflow: hidden;
      z-index: unset;
      align-self: center;
      display: flex;
      width: 400px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 1px 1px #10182805;
      border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
      border-radius: 12px;
    }
    .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"] {
        display: flex;
      }
    }
    .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout:hover, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout:hover, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80.ww-layout:hover, .ww-element-a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80 [data-ww-layout-style-scopes~="a2d8aa1c-49cb-4ac0-86bc-522ee6cc1a80"]:hover {
        display: flex;
      }
    }
    .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac {
      margin: 50px 0 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 940px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac.ww-layout, .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac [data-ww-layout-style-scopes~="a92ef1db-a03f-41ca-9d1a-4b4a323228ac"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac.ww-layout, .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac [data-ww-layout-style-scopes~="a92ef1db-a03f-41ca-9d1a-4b4a323228ac"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac.ww-layout, .ww-element-a92ef1db-a03f-41ca-9d1a-4b4a323228ac [data-ww-layout-style-scopes~="a92ef1db-a03f-41ca-9d1a-4b4a323228ac"] {
        display: flex;
      }
    }
    .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76.ww-layout, .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76 [data-ww-layout-style-scopes~="a0c0fb60-eab1-450b-a0b2-6d3644369a76"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      align-content: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76.ww-layout, .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76 [data-ww-layout-style-scopes~="a0c0fb60-eab1-450b-a0b2-6d3644369a76"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76.ww-layout, .ww-element-a0c0fb60-eab1-450b-a0b2-6d3644369a76 [data-ww-layout-style-scopes~="a0c0fb60-eab1-450b-a0b2-6d3644369a76"] {
        display: flex;
      }
    }
    .ww-element-716cf70a-3fb8-48e4-a742-058cc7ca7a4d {
      margin: 0 8px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-54648c67-5be1-4a15-bfef-22511d615cb1 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-76de2976-be7c-41ae-ae23-9bce58ae7467 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-fa8ee4fc-d201-4fdb-be56-c2932c20bac2 {
      margin: 0;
      padding: 0 0 0 12px;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 38px;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 24px;
      font-weight: 400;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      letter-spacing: 0;
      word-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
      --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
    }
    @media (max-width: 991px) {
      .ww-element-fa8ee4fc-d201-4fdb-be56-c2932c20bac2 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-fa8ee4fc-d201-4fdb-be56-c2932c20bac2 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d {
      margin: 16px 0 0;
      padding: 0 16px;
      z-index: unset;
      align-self: flex-start;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 40px;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: Inter, sans-serif;
      line-height: 20px;
      font-weight: 500;
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      cursor: pointer;
      box-shadow: 0 1px 1px #27272a05;
      border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d {
        white-space-collapse: preserve;
      }
    }
    .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d:hover {
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bc0bd18f-f362-4890-a644-ce474dc60b8d:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-f7278c94-39e1-4fd4-9d9a-44ab94814a21 {
      margin: 0;
      padding: 0 0 0 12px;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 38px;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 24px;
      font-weight: 400;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      letter-spacing: 0;
      word-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
      --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
    }
    @media (max-width: 991px) {
      .ww-element-f7278c94-39e1-4fd4-9d9a-44ab94814a21 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f7278c94-39e1-4fd4-9d9a-44ab94814a21 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-814a9c54-246a-4d8e-9f7c-c0f9a614eeaa {
      margin: 8px 0 0;
      padding: 0;
      z-index: unset;
      align-self: flex-end;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      background-color: #fff0;
      cursor: pointer;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-814a9c54-246a-4d8e-9f7c-c0f9a614eeaa {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-814a9c54-246a-4d8e-9f7c-c0f9a614eeaa {
        white-space-collapse: preserve;
      }
    }
    .ww-element-2dd88a52-cd2b-420a-9fd9-43fcb3e8d4eb {
      margin: 0 0 4px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-2dd88a52-cd2b-420a-9fd9-43fcb3e8d4eb {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-2dd88a52-cd2b-420a-9fd9-43fcb3e8d4eb {
        white-space-collapse: preserve;
      }
    }
    .ww-element-b999bcab-d5a1-4998-b452-f36be5ee2cb0 {
      margin: 16px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--e627551f-2a56-4b99-b7ba-0c6b0940ab96, 500 14px/20px var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: #e56161;
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-b999bcab-d5a1-4998-b452-f36be5ee2cb0 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b999bcab-d5a1-4998-b452-f36be5ee2cb0 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-2f16b24c-77d6-45c4-9b52-296d33a4f7b0 {
      margin: 0 0 4px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--7b06b75d-b773-4d93-b3b3-3c01cb419d85, 500 12px/18px var(--ww-default-font-family, sans-serif));
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      letter-spacing: 0;
      text-decoration-line: none;
      text-decoration-thickness: initial;
      text-decoration-style: solid;
      text-decoration-color: initial;
      white-space-collapse: preserve;
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-2f16b24c-77d6-45c4-9b52-296d33a4f7b0 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-2f16b24c-77d6-45c4-9b52-296d33a4f7b0 {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
