@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d3 {
        margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
        overflow: scroll;
        min-height: 100vh;
        display: flex;
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      }
      @media (max-width: 767px) {
        .ww-s-d3 {
          margin: 0;
          display: flex;
        }
      }
      .ww-s-d3 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        width: 100%;
        padding: 60px 0 30px;
        min-height: 100vh;
        box-shadow: 0 2px 6px #0000000f;
      }
      @media (max-width: 767px) {
        .ww-s-d3 > .ww-section-element {
          padding: 4rem 0 0;
        }
      }
      .ww-s-d3 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
      @media (max-width: 767px) {
        .ww-s-d3 > .ww-section-element.ww-layout {
          display: flex;
          flex-flow: column;
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-l8LttCRUXri2cGIa {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6zH2fOQn6XA4TIIi {
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7z7Fp3CUQKsvog5J {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-tfxrUKdwzbzgXsRe {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LDmpW3IfZ4eTGdcl {
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-KqEK8kr8HF6dDCGs {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-xgfU0ILP5VyL4zt- {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dM {
        padding: 12px;
      }
      .ww-e-dN {
        padding: 12px;
        overflow: unset;
        display: flex;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dN.ww-layout, .ww-e-dN [data-ww-ls~="dN"] {
        display: flex;
        flex-flow: column;
        align-items: var(--ww-content-ww-layout-align-items, flex-end);
      }
      .ww-e-dO {
        display: flex;
      }
      .ww-e-dO.ww-layout, .ww-e-dO [data-ww-ls~="dO"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: revert-layer;
      }
      .ww-e-dP {
        padding: 12px;
        display: flex;
        min-height: unset;
        border-radius: 12px;
      }
      .ww-e-dP.ww-layout, .ww-e-dP [data-ww-ls~="dP"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
      .ww-e-d2L {
        display: flex;
      }
      .ww-e-d2L.ww-layout, .ww-e-d2L [data-ww-ls~="d2L"] {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: revert-layer;
      }
      .ww-e-d2c {
        width: revert-layer;
      }
      .ww-e-d3c {
        margin: 5px 10px 0 5px;
        align-self: flex-start;
        width: 25px;
        border: 0 solid #e0e0e0;
        border-radius: 5px;
      }
      .ww-e-d3u {
        padding: 15px;
        display: flex;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid #e0e0e0;
        border-radius: 30px;
      }
      .ww-e-d3u.ww-layout, .ww-e-d3u [data-ww-ls~="d3u"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d4W.ww-layout, .ww-e-d4W [data-ww-ls~="d4W"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d6B {
        padding: 12px;
        align-self: unset;
        display: flex;
        width: 70%;
        height: auto;
        aspect-ratio: unset;
        background-color: var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 12px;
      }
      .ww-e-d6B.ww-layout, .ww-e-d6B [data-ww-ls~="d6B"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
      .ww-e-d6R.ww-layout, .ww-e-d6R [data-ww-ls~="d6R"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d8q {
        padding: 10px 0 0;
        font-size: 16px;
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d8u {
        font-size: 16px;
        line-height: 1.8rem;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d8v {
        padding: 20px 0 30px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d93 {
        font-size: 16px;
        line-height: 1.8rem;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d9U {
        margin: 0;
        padding: 0 100px;
        overflow: unset;
        display: flex;
        width: 70%;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-d9U.ww-layout, .ww-e-d9U [data-ww-ls~="d9U"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d9V {
        margin: 5px 5px 0 0;
        align-self: flex-start;
        width: 25px;
        border: 0 solid #e0e0e0;
        border-radius: 5px;
      }
      .ww-e-d9W {
        margin: 5px 0 0 5px;
        padding: 0;
        align-self: flex-start;
        width: 25px;
        background-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        border-radius: 5px;
      }
      .ww-e-d9u {
        display: flex;
      }
      .ww-e-d9u.ww-layout, .ww-e-d9u [data-ww-ls~="d9u"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d9v {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d9w {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d9x {
        display: flex;
        width: 100%;
      }
      .ww-e-d9x.ww-layout, .ww-e-d9x [data-ww-ls~="d9x"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-dA0 {
        margin: 0;
        padding: 8px;
        align-self: unset;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        font-size: 14px;
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 0 solid #e0e0e0;
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-dA1 {
        padding: 12px 24px;
        height: 40px;
        aspect-ratio: unset;
        font-size: 16px;
        font-weight: 500;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        white-space-collapse: preserve;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-dA1:where(:hover) {
        color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        background-color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-dA2 {
        overflow: unset;
        width: 35%;
        height: auto;
        aspect-ratio: unset;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-dAm {
        padding: 30px 0 0;
        width: revert-layer;
        font: var(--5cd34ef8-3e66-48d9-a40c-173b6be0752a, 700 36px/40px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
    .ww-e-d93 {
      word-break: break-all;
    }
  }
}
@layer ww-style-layout-override {
}
