@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Mt_IyO1ahYQMxfyW {
        z-index: unset;
        max-height: unset;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dE {
        height: auto;
        aspect-ratio: unset;
        margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
        min-height: 100vh;
        display: flex;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d, #F9FAFB);
      }
      @media (max-width: 767px) {
        .ww-s-dE {
          margin: 0;
          display: flex;
        }
      }
      .ww-s-dE > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 0;
        min-height: 100vh;
      }
      @media (max-width: 767px) {
        .ww-s-dE > .ww-section-element {
          padding: 4rem 0 0;
        }
      }
      .ww-s-dE > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-s-dE > .ww-section-element.ww-layout {
          display: flex;
          flex-flow: column;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-buC6JvLuIqohZGHY {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6N55Z-BsXmtn0S5J {
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-11o189YJ-X9gY18t {
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CYbavc_ztiFa1g7z {
        margin: 0;
        z-index: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-krpL1cHt48mE0A5L {
        z-index: unset;
        align-self: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-TszpyCWllUS44282 {
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-1XSWouDGLe74KbKM {
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-v8FgLaNzJyHY9dgz {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-KqEK8kr8HF6dDCGs {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-fKo7xotRqyrxdbG4 {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7iHKnMlLPzBqiAyC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-d1S {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: 50px;
        aspect-ratio: unset;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d1S.ww-layout, .ww-e-d1S [data-ww-ls~="d1S"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d1V {
        margin: 20px 0 0;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-0e3a2d98-1d8f-4732-8003-57fb10d0954e-base-default;
      }
      @keyframes ww-keyframes-element-0e3a2d98-1d8f-4732-8003-57fb10d0954e-base-default {
        0% {
        }
        100% {
        }
      }
      .ww-e-d1V.ww-layout, .ww-e-d1V [data-ww-ls~="d1V"] {
        display: flex;
      }
      .ww-e-d21 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d2p {
        margin: 0 0 10px;
        align-self: unset;
        display: flex;
        width: 100%;
        max-width: 940px;
      }
      .ww-e-d2p.ww-layout, .ww-e-d2p [data-ww-ls~="d2p"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: revert-layer;
      }
      .ww-e-d2u {
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        width: 100%;
        max-width: 940px;
        border-top: 0 none;
        border-bottom: 1px solid #e5e7eb;
        border-left: 0 none;
        border-right: 0 none;
      }
      .ww-e-d2u.ww-layout, .ww-e-d2u [data-ww-ls~="d2u"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d37 {
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        width: 100%;
        max-width: 940px;
        border-top: 0 none;
        border-bottom: 1px solid #e5e7eb;
        border-left: 0 none;
        border-right: 0 none;
      }
      .ww-e-d37.ww-layout, .ww-e-d37 [data-ww-ls~="d37"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d3K {
        margin: 0 0 0 4px;
        font-size: 16px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3R {
        margin: 0;
        font: var(--a52c954c-1829-45f5-ac47-4de459febd27, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
        white-space-collapse: preserve;
      }
      .ww-e-d3S {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: 50px;
        aspect-ratio: unset;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d3S.ww-layout, .ww-e-d3S [data-ww-ls~="d3S"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d3U {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d3X {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: 50px;
        aspect-ratio: unset;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d3X.ww-layout, .ww-e-d3X [data-ww-ls~="d3X"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d3i {
        padding: 12px 24px;
        align-self: flex-start;
        font-size: 16px;
        font-weight: 500;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d3i:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d3i:where([data-ww-states~="H1pUBX"]) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
      }
      .ww-e-d4N {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        border: 0 solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d4N.ww-layout, .ww-e-d4N [data-ww-ls~="d4N"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d4l {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 940px;
        height: 60px;
        aspect-ratio: unset;
        border-top: 0 none;
        border-bottom: 0 solid #e5e7eb;
        border-left: 0 none;
        border-right: 0 none;
      }
      .ww-e-d4l.ww-layout, .ww-e-d4l [data-ww-ls~="d4l"] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      .ww-e-d4s {
        margin: 0 auto;
        padding: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem) var(--3ac213ac-8c9e-4d40-993f-964f39a7a1f9, 1.5rem);
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        max-width: 1200px;
      }
      @media (max-width: 991px) {
        .ww-e-d4s {
          padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d4s {
          padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
          display: flex;
        }
      }
      .ww-e-d4s.ww-layout, .ww-e-d4s [data-ww-ls~="d4s"] {
        display: flex;
        flex-flow: column;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      }
      @media (max-width: 991px) {
        .ww-e-d4s.ww-layout, .ww-e-d4s [data-ww-ls~="d4s"] {
          display: flex;
          flex-flow: column;
          row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
          column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d4s.ww-layout, .ww-e-d4s [data-ww-ls~="d4s"] {
          display: flex;
          flex-flow: column;
          row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
          column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        }
      }
      .ww-e-d4t {
        padding: 12px 24px;
        align-self: center;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d4t:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d4t:where([data-ww-states~="H1pUBX"]) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
      }
      .ww-e-d4t:where([data-ww-states~="Cq6wCD"]), .ww-e-d4t:where(:disabled), .ww-e-d4t:where([disabled]) {
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      }
      .ww-e-d4u {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d4y {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        border: 0 solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d4y.ww-layout, .ww-e-d4y [data-ww-ls~="d4y"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d5U {
        width: 100%;
      }
      .ww-e-d5U.ww-layout, .ww-e-d5U [data-ww-ls~="d5U"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d5V {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: 50px;
        aspect-ratio: unset;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d5V.ww-layout, .ww-e-d5V [data-ww-ls~="d5V"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d5W {
        margin: 0 0 4px;
        align-self: center;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d5X {
        margin: 0;
        font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d5p {
        margin: 0;
        font: var(--a52c954c-1829-45f5-ac47-4de459febd27, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
        white-space-collapse: preserve;
      }
      .ww-e-d5q {
        align-self: unset;
        display: flex;
        flex: 0 1 auto;
      }
      @media (max-width: 991px) {
        .ww-e-d5q {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d5q {
          display: flex;
        }
      }
      .ww-e-d5q.ww-layout, .ww-e-d5q [data-ww-ls~="d5q"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
      @media (max-width: 991px) {
        .ww-e-d5q.ww-layout, .ww-e-d5q [data-ww-ls~="d5q"] {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
          column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d5q.ww-layout, .ww-e-d5q [data-ww-ls~="d5q"] {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
          column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        }
      }
      .ww-e-d5r {
        margin: 20px 0 0;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-26c1e997-cb50-4101-95ad-3ec89f53570c-base-default;
      }
      @keyframes ww-keyframes-element-26c1e997-cb50-4101-95ad-3ec89f53570c-base-default {
        0% {
        }
        100% {
        }
      }
      .ww-e-d5r.ww-layout, .ww-e-d5r [data-ww-ls~="d5r"] {
        display: flex;
      }
      .ww-e-d5s {
        margin: 0;
        font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d5t {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d5u {
        margin: 0;
        padding: 0 0 0 10px;
        align-self: center;
        width: 100%;
        font: var(--f4a28b33-58fd-41ca-b1fd-feda6a0a7e75, 400 14px/20px var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
      }
      .ww-e-d5v {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        max-width: 940px;
        height: 60px;
        aspect-ratio: unset;
        border-top: 0 none;
        border-bottom: 1px solid #e5e7eb;
        border-left: 0 none;
        border-right: 0 none;
      }
      .ww-e-d5v.ww-layout, .ww-e-d5v [data-ww-ls~="d5v"] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      .ww-e-d5w {
        margin: 0;
        align-self: center;
        width: 100%;
        font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d5y {
        margin: 0;
        align-self: center;
        width: 100%;
        font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
        text-align: left;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
        white-space-collapse: preserve;
      }
      .ww-e-d6Z {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d6j {
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        width: 100%;
        max-width: 940px;
        border-top: 0 none;
        border-bottom: 1px solid #e5e7eb;
        border-left: 0 none;
        border-right: 0 none;
      }
      .ww-e-d6j.ww-layout, .ww-e-d6j [data-ww-ls~="d6j"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d6n {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        border: 0 solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d6n.ww-layout, .ww-e-d6n [data-ww-ls~="d6n"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d6o {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d6p {
        margin: 0;
        padding: 8px;
        align-self: flex-start;
        width: 100%;
        flex: 1 0 auto;
        height: 200px;
        aspect-ratio: unset;
        font-size: 16px;
        line-height: 1.8rem;
        text-align: left;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d6r {
        margin: 0;
        padding: 8px;
        align-self: flex-start;
        width: 100%;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d6z {
        padding: 32px 24px;
        overflow: hidden;
        width: 500px;
        height: auto;
        aspect-ratio: unset;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 1px 1px #10182805;
        border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
        border-radius: 12px;
      }
      .ww-e-d6z.ww-layout, .ww-e-d6z [data-ww-ls~="d6z"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d77 {
        margin: 0;
        font: var(--b47fda5e-c8a2-479d-a3d2-000ef4b6ee4e, 400 24px/30px var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
      }
      .ww-e-d7C {
        padding: 12px 24px;
        align-self: flex-start;
        font-size: 16px;
        font-weight: 500;
        color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
        white-space-collapse: preserve;
        background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d7C:where(:hover) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d7C:where([data-ww-states~="H1pUBX"]) {
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        background-color: #f5f0ff;
      }
      .ww-e-d7H {
        align-self: center;
        width: 35px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: 1px solid var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        border-radius: 25px;
      }
      .ww-e-d94 {
        margin: 0 0 20px;
        padding: 0 0 0 12px;
        width: 100%;
        height: 38px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      }
      .ww-e-d95 {
        margin: 0 0 20px;
        padding: 0 0 0 12px;
        width: 100%;
        height: 38px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      }
      .ww-e-d9H {
        margin: 20px 0 0;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-683b7830-e346-4556-a8c1-07e5ef9beac3-base-default;
      }
      @keyframes ww-keyframes-element-683b7830-e346-4556-a8c1-07e5ef9beac3-base-default {
        0% {
        }
        100% {
        }
      }
      .ww-e-d9H.ww-layout, .ww-e-d9H [data-ww-ls~="d9H"] {
        display: flex;
      }
      .ww-e-d9I {
        padding: 32px 24px;
        overflow: hidden;
        width: 500px;
        height: auto;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 1px 1px #10182805;
        border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
        border-radius: 12px;
      }
      .ww-e-d9I.ww-layout, .ww-e-d9I [data-ww-ls~="d9I"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d9J {
        align-self: center;
        width: 35px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: 1px solid var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        border-radius: 25px;
      }
      .ww-e-d9L {
        margin: 0;
        padding: 8px;
        align-self: flex-start;
        width: 100%;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        white-space-collapse: preserve;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
        border-radius: 8px;
        --ww-text-text-overflow: initial;
        --placeholder-color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      }
      .ww-e-d9M {
        margin: 0 0 20px;
        padding: 0 10px;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
        border: 0 solid #e5e7eb;
        border-radius: 10px;
      }
      .ww-e-d9M.ww-layout, .ww-e-d9M [data-ww-ls~="d9M"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-dAV {
        margin: 0 0 4px;
        align-self: center;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAY {
        margin: 0 0 4px;
        align-self: center;
        flex: 0 1 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAZ {
        margin: 0 0 4px;
        align-self: center;
        flex: 0 1 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAd {
        margin: 0 0 4px;
        align-self: center;
        flex: 0 1 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAe {
        margin: 0 0 4px;
        align-self: unset;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAf {
        margin: 0 0 4px;
        align-self: unset;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAi {
        margin: 0 0 4px;
        align-self: unset;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAj {
        margin: 0 0 4px;
        align-self: unset;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ww-content-ww-text-color, #888888);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAm {
        margin: 0 0 4px;
        align-self: center;
        flex: 0 1 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAn {
        margin: 0 0 4px;
        align-self: unset;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAo {
        margin: 0 0 4px;
        align-self: center;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dAv {
        margin: 0 0 4px;
        align-self: center;
        flex: 1 0 auto;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
