@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 {
      height: auto;
      margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
      z-index: unset;
      overflow: hidden;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    @media (max-width: 767px) {
      .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 {
        margin: 0;
        display: flex;
      }
    }
    .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element {
      --ww-section-root-auto-align: center;
      --ww-section-root-auto-width: 100%;
      width: 100%;
      padding: 60px 20px 30px;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
      box-shadow: 0 2px 6px #0000000f;
    }
    @media (max-width: 767px) {
      .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element {
        padding: 4rem 0 0;
      }
    }
    .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      align-items: stretch;
    }
    @media (max-width: 991px) {
      .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-34d08eae-1996-4cc6-a755-cda6c1f6e7cd {
      margin: 0 6px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout, .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout, .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout, .ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"] {
        display: flex;
      }
    }
    .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout, .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout, .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout, .ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"] {
        display: flex;
      }
    }
    .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: block;
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout, .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"] {
      display: block;
    }
    @media (max-width: 991px) {
      .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout, .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout, .ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
      }
    }
    .ww-element-70699209-f4ef-4c2c-89bc-5fc218ce580e {
      margin: 0 0 0 6px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-70699209-f4ef-4c2c-89bc-5fc218ce580e[data-ww-states~="_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX"] {
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-70699209-f4ef-4c2c-89bc-5fc218ce580e-_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX-default;
    }
    @keyframes ww-keyframes-element-70699209-f4ef-4c2c-89bc-5fc218ce580e-_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX-default {
      0% {
      }
      100% {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(360deg);
      }
    }
    .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 {
      margin: 0;
      padding: 16px;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 32%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 1px 4px #000;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089-base-default;
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
    }
    @keyframes ww-keyframes-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089-base-default {
      0% {
      }
      100% {
      }
    }
    @media (max-width: 991px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 {
        width: 100%;
      }
    }
    .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089:hover {
      overflow: hidden;
      box-shadow: 0px 5px 8px 0px var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      transform: scale3d(1, 1, 1) translate3d(0, -3px, 0) rotateX(0) rotateY(0) rotateZ(0);
      border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
    }
    .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"] {
      display: flex;
      flex-flow: column;
      row-gap: 12px;
    }
    @media (max-width: 991px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"] {
        display: flex;
      }
    }
    .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover, .ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover {
        display: flex;
      }
    }
    .ww-element-533b8879-b6c0-46a5-86cb-1c7b1e7efd22 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      border-top: 0 solid #9ca3af;
      border-bottom: 1px solid #e5e7eb;
      border-left: 0 solid #9ca3af;
      border-right: 0 solid #9ca3af;
    }
    .ww-element-7fd314bb-99f0-4d8e-91f6-b3c0cb5aca31 {
      margin: 0;
      padding: 20px 0 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 20px;
      font-family: var(--ww-default-font-family);
      font-weight: 400;
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      white-space-collapse: preserve;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-7fd314bb-99f0-4d8e-91f6-b3c0cb5aca31 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7fd314bb-99f0-4d8e-91f6-b3c0cb5aca31 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265 {
      margin: 0;
      padding: 10px 24px;
      z-index: unset;
      align-self: center;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      font-weight: 500;
      color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      white-space-collapse: preserve;
      cursor: pointer;
      box-shadow: 0 2px 4px #0000001a;
      transition: all 0.2s ease;
      border: none solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      border-radius: 8px;
      --ww-element-transition: all 0.2s ease;
    }
    @media (max-width: 991px) {
      .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265:hover {
      color: #7c3aed;
      white-space-collapse: preserve;
      background-color: #f5f0ff;
      box-shadow: 0 4px 6px #0000001a;
      transform: translateY(-1px);
    }
    @media (max-width: 991px) {
      .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6b3847e3-af8e-4b07-85ad-dd80453e6265:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 {
      margin: 0;
      padding: 0 0 8px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout, .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"] {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 5px;
    }
    @media (max-width: 991px) {
      .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout, .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout, .ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"] {
        display: flex;
      }
    }
    .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b {
      margin: 50px 0 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout, .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"] {
      display: flex;
      flex-flow: wrap;
      align-content: revert-layer;
      gap: 30px 22px;
    }
    @media (max-width: 991px) {
      .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout, .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout, .ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"] {
        display: flex;
      }
    }
    .ww-element-51a194c2-81bb-4bc4-8d5a-203d7af8ddd5 {
      margin: 0;
      padding: 30px 0 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--3e186a16-30b5-4f7b-a2ea-e239a68bd833, 700 2.5rem/1.2 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6,#111827);
      white-space-collapse: preserve;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-51a194c2-81bb-4bc4-8d5a-203d7af8ddd5 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-51a194c2-81bb-4bc4-8d5a-203d7af8ddd5 {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
  @media (min-width: 992px) {
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      height: revert-layer;
    }
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      height: revert-layer;
    }
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      height: revert-layer;
    }
    :where(.ww-section-02b1d201-32c0-458c-b6be-e8fe66787812 > .ww-section-element.ww-layout) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      height: revert-layer;
    }
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout), :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      height: revert-layer;
    }
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout), :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      height: revert-layer;
    }
    :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037.ww-layout), :where(.ww-element-d07b11b7-ead4-4166-812a-4d887eab6037 [data-ww-layout-style-scopes~="d07b11b7-ead4-4166-812a-4d887eab6037"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      height: revert-layer;
    }
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout), :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      height: revert-layer;
    }
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout), :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      height: revert-layer;
    }
    :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e.ww-layout), :where(.ww-element-46817622-3b4b-4bc9-a1b2-dd1fa806892e [data-ww-layout-style-scopes~="46817622-3b4b-4bc9-a1b2-dd1fa806892e"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      height: 100%;
    }
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout), :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      height: revert-layer;
    }
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout), :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      height: revert-layer;
    }
    :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db.ww-layout), :where(.ww-element-a2a6b12d-a965-463f-a685-ddd0f93af5db [data-ww-layout-style-scopes~="a2a6b12d-a965-463f-a685-ddd0f93af5db"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      height: revert-layer;
    }
    :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089.ww-layout:hover), :where(.ww-element-a3ac9a28-51aa-4121-bd15-30db0b4cc089 [data-ww-layout-style-scopes~="a3ac9a28-51aa-4121-bd15-30db0b4cc089"]:hover) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      height: revert-layer;
    }
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout), :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      height: revert-layer;
    }
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout), :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      height: revert-layer;
    }
    :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8.ww-layout), :where(.ww-element-4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8 [data-ww-layout-style-scopes~="4d3ac33d-d51b-4a2f-aae6-e0b49a36cee8"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 992px) {
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      height: revert-layer;
    }
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout), :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      text-align: revert-layer;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      height: revert-layer;
    }
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout), :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      text-align: revert-layer;
    }
  }
  @media (max-width: 767px) {
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      height: revert-layer;
    }
    :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b.ww-layout), :where(.ww-element-86c93234-8437-466d-88e0-0a3645aacd4b [data-ww-layout-style-scopes~="86c93234-8437-466d-88e0-0a3645aacd4b"]) {
      text-align: revert-layer;
    }
  }
}
