@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Mt_IyO1ahYQMxfyW {
        z-index: unset;
        max-height: unset;
      }
      .ww-a-DibRDBsdncAneMNy {
        width: 100%;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dB {
        height: auto;
        margin: 0;
        min-height: 100vh;
        display: flex;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        cursor: auto;
      }
      .ww-s-dB > .ww-section-element {
        padding: 0 32px;
        max-width: unset;
        min-height: 100vh;
      }
      @media (max-width: 991px) {
        .ww-s-dB > .ww-section-element {
          --ww-section-root-auto-align: initial;
          --ww-section-root-auto-width: initial;
          padding: 0 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-s-dB > .ww-section-element {
          --ww-section-root-auto-align: initial;
          --ww-section-root-auto-width: initial;
          padding: 12px;
        }
      }
      .ww-s-dB > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
      }
      @media (max-width: 991px) {
        .ww-s-dB > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
      @media (max-width: 767px) {
        .ww-s-dB > .ww-section-element.ww-layout {
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JU5hsWRMf20xKDmf {
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-1XSWouDGLe74KbKM {
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d2y {
        width: revert-layer;
      }
      .ww-e-d2z {
        width: revert-layer;
      }
      .ww-e-d30 {
        margin: 50px 0 0;
        display: flex;
        width: 100%;
        max-width: 940px;
        background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      }
      .ww-e-d30.ww-layout, .ww-e-d30 [data-ww-ls~="d30"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d31 {
        margin: 0 0 20px;
        width: 100%;
      }
      .ww-e-d31.ww-layout, .ww-e-d31 [data-ww-ls~="d31"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        align-content: revert-layer;
      }
      .ww-e-d8s {
        padding: 32px 24px;
        overflow: hidden;
        align-self: center;
        width: 400px;
        height: auto;
        background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
        box-shadow: 0 1px 1px #10182805;
        border: 1px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
        border-radius: 12px;
      }
      .ww-e-d8s.ww-layout, .ww-e-d8s [data-ww-ls~="d8s"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d8t {
        margin: 48px 0 0;
        width: 100%;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-45164305-3ff0-4706-8e10-867e9277cb00-base-default;
      }
      @keyframes ww-keyframes-element-45164305-3ff0-4706-8e10-867e9277cb00-base-default {
        0% {
        }
        100% {
        }
      }
      .ww-e-d8t.ww-layout, .ww-e-d8t [data-ww-ls~="d8t"] {
        display: flex;
      }
      .ww-e-dB6 {
        margin: 0 0 4px;
        align-self: center;
        font: var(--f2a71115-b847-4f32-ade9-6ec28c04d178, 400 16px/24px var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dBS {
        margin: 16px 0 0;
        display: var(--ww-style-display, none);
        font: var(--e627551f-2a56-4b99-b7ba-0c6b0940ab96, 500 14px/20px var(--ww-default-font-family, sans-serif));
        text-align: center;
        color: #e56161;
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
