@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 {
      height: auto;
      aspect-ratio: unset;
      margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
      z-index: unset;
      overflow: hidden;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d, #F9FAFB);
    }
    @media (max-width: 767px) {
      .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 {
        margin: 0;
        display: flex;
      }
    }
    .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 > .ww-section-element {
      --ww-section-root-auto-align: center;
      --ww-section-root-auto-width: 100%;
      width: 100%;
      padding: 0;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
    }
    @media (max-width: 767px) {
      .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 > .ww-section-element {
        padding: 4rem 0 0;
      }
    }
    .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 > .ww-section-element.ww-layout {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-section-af6bebfe-ad5c-4d66-9619-8c84de26a997 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df {
      margin: 0;
      padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      box-shadow: 0 4px 6px -1px #0000001a;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88, #E5E7EB);
      border-radius: 1rem;
    }
    @media (max-width: 991px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df {
        display: flex;
      }
    }
    .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df:hover {
      display: flex;
      box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
      transform: translateY(-4px);
    }
    .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout:hover, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"]:hover {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout:hover, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df.ww-layout:hover, .ww-element-f8c03391-2c05-4228-b5cb-d4be72b6c4df [data-ww-layout-style-scopes~="f8c03391-2c05-4228-b5cb-d4be72b6c4df"]:hover {
        display: flex;
      }
    }
    .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 80%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 {
        display: flex;
      }
    }
    .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606.ww-layout, .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 [data-ww-layout-style-scopes~="0c6802bf-f094-4100-9bf1-ac876e1fe606"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
    }
    @media (max-width: 991px) {
      .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606.ww-layout, .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 [data-ww-layout-style-scopes~="0c6802bf-f094-4100-9bf1-ac876e1fe606"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606.ww-layout, .ww-element-0c6802bf-f094-4100-9bf1-ac876e1fe606 [data-ww-layout-style-scopes~="0c6802bf-f094-4100-9bf1-ac876e1fe606"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    .ww-element-d15f290d-cba4-47db-b29f-a383a1cac218 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: center;
      display: block;
      width: 5%;
      flex: 1 0 auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 3rem;
      max-width: unset;
      min-width: unset;
      height: 3rem;
      max-height: unset;
      min-height: unset;
      background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe, #F3F4F6);
      border-radius: .75rem;
    }
    @media (max-width: 991px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce {
        display: flex;
      }
    }
    .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce:hover {
      display: flex;
    }
    .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout:hover, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"]:hover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout:hover, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce.ww-layout:hover, .ww-element-793a7a9b-e4e9-4940-9ab8-e8e2ded072ce [data-ww-layout-style-scopes~="793a7a9b-e4e9-4940-9ab8-e8e2ded072ce"]:hover {
        display: flex;
      }
    }
    .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: .8s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-name: ww-keyframes-element-f5f08082-43a7-44f6-af90-5a70918f50fb-base-default;
    }
    @keyframes ww-keyframes-element-f5f08082-43a7-44f6-af90-5a70918f50fb-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb {
        display: flex;
        width: 100%;
      }
    }
    .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb.ww-layout, .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb [data-ww-layout-style-scopes~="f5f08082-43a7-44f6-af90-5a70918f50fb"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb.ww-layout, .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb [data-ww-layout-style-scopes~="f5f08082-43a7-44f6-af90-5a70918f50fb"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        flex-wrap: revert-layer;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb.ww-layout, .ww-element-f5f08082-43a7-44f6-af90-5a70918f50fb [data-ww-layout-style-scopes~="f5f08082-43a7-44f6-af90-5a70918f50fb"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485 {
      margin: 0;
      padding: 10px 35px 0 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485.ww-layout, .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485 [data-ww-layout-style-scopes~="6bdd0dac-d9ac-41dc-bd62-76074ddde485"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485.ww-layout, .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485 [data-ww-layout-style-scopes~="6bdd0dac-d9ac-41dc-bd62-76074ddde485"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485.ww-layout, .ww-element-6bdd0dac-d9ac-41dc-bd62-76074ddde485 [data-ww-layout-style-scopes~="6bdd0dac-d9ac-41dc-bd62-76074ddde485"] {
        display: flex;
      }
    }
    .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b {
        white-space-collapse: preserve;
      }
    }
    .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c59a49bd-6220-4a4f-af25-42f021ab418b:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c {
      margin: 0;
      padding: 10px 25px 0 0;
      z-index: unset;
      align-self: flex-end;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c.ww-layout, .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c [data-ww-layout-style-scopes~="d601d7c8-158f-47f0-bc8c-51f1790e021c"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c.ww-layout, .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c [data-ww-layout-style-scopes~="d601d7c8-158f-47f0-bc8c-51f1790e021c"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c.ww-layout, .ww-element-d601d7c8-158f-47f0-bc8c-51f1790e021c [data-ww-layout-style-scopes~="d601d7c8-158f-47f0-bc8c-51f1790e021c"] {
        display: flex;
      }
    }
    .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6f8fa7fe-77b0-4207-b60e-048cd24fa9a6:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 3rem;
      max-width: unset;
      min-width: unset;
      height: 3rem;
      max-height: unset;
      min-height: unset;
      background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe, #F3F4F6);
      border-radius: .75rem;
    }
    @media (max-width: 991px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 {
        display: flex;
      }
    }
    .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8:hover {
      display: flex;
    }
    .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout:hover, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"]:hover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout:hover, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8.ww-layout:hover, .ww-element-b50a7b53-6965-4c3e-83a8-6bbe1dd086e8 [data-ww-layout-style-scopes~="b50a7b53-6965-4c3e-83a8-6bbe1dd086e8"]:hover {
        display: flex;
      }
    }
    .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bd5c21fd-2ee8-4002-b9f3-af68dc97aed8:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-020bc6e0-5dad-41d1-a165-4b1e5b78c59a {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: flex-end;
      display: block;
      width: 18px;
      max-width: unset;
      min-width: unset;
      height: 18px;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      text-align: center;
      color: var(--2ecc0297-1387-4bf7-9269-6e747be8dfe0,#FFFFFF);
      white-space-collapse: preserve;
      background-color: #ec3c3f;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-020bc6e0-5dad-41d1-a165-4b1e5b78c59a {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-020bc6e0-5dad-41d1-a165-4b1e5b78c59a {
        white-space-collapse: preserve;
      }
    }
    .ww-element-84090e72-a756-4409-9694-ccff4b5e230e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 95%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      text-align: right;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      white-space-collapse: preserve;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-84090e72-a756-4409-9694-ccff4b5e230e {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-84090e72-a756-4409-9694-ccff4b5e230e {
        white-space-collapse: preserve;
      }
    }
    .ww-element-a0ffd569-ad99-4f1c-8cd3-0656f635755a {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 1.5rem;
      max-width: unset;
      min-width: unset;
      height: 1.5rem;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 3rem;
      max-width: unset;
      min-width: unset;
      height: 3rem;
      max-height: unset;
      min-height: unset;
      background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe, #F3F4F6);
      border-radius: .75rem;
    }
    @media (max-width: 991px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d {
        display: flex;
      }
    }
    .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d:hover {
      display: flex;
    }
    .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @media (max-width: 767px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout:hover, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"]:hover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout:hover, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d.ww-layout:hover, .ww-element-603e9800-d070-4c3a-90af-2bc650c10a4d [data-ww-layout-style-scopes~="603e9800-d070-4c3a-90af-2bc650c10a4d"]:hover {
        display: flex;
      }
    }
    .ww-element-3406beb5-090a-4b23-8f4f-7f12008e5d0f {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: center;
      display: block;
      width: 60%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-591ed1d4-48d9-4725-b4ba-ec62776c5e60 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 1.5rem;
      max-width: unset;
      min-width: unset;
      height: 1.5rem;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a {
      margin: 0;
      padding: 0;
      z-index: 2;
      align-self: unset;
      display: flex;
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a {
        display: flex;
      }
    }
    .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a.ww-layout, .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a [data-ww-layout-style-scopes~="8ac5c842-ca2e-49fd-b811-439c6ab3d62a"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
    }
    @media (max-width: 991px) {
      .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a.ww-layout, .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a [data-ww-layout-style-scopes~="8ac5c842-ca2e-49fd-b811-439c6ab3d62a"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a.ww-layout, .ww-element-8ac5c842-ca2e-49fd-b811-439c6ab3d62a [data-ww-layout-style-scopes~="8ac5c842-ca2e-49fd-b811-439c6ab3d62a"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9236da8b-e390-4ed9-bf56-7d091309b2e3:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078 {
      margin: 0;
      padding: 12px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 30%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      background-color: var(--1de88585-9772-4695-85ed-dfd267fbcafe,#F3F4F6);
      box-shadow: 0 1px 3px #000;
      border: 1px solid var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      border-radius: 8px;
    }
    .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078.ww-layout, .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078 [data-ww-layout-style-scopes~="1d51fb10-f262-4f7b-a039-2fb6abe0d078"] {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078.ww-layout, .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078 [data-ww-layout-style-scopes~="1d51fb10-f262-4f7b-a039-2fb6abe0d078"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078.ww-layout, .ww-element-1d51fb10-f262-4f7b-a039-2fb6abe0d078 [data-ww-layout-style-scopes~="1d51fb10-f262-4f7b-a039-2fb6abe0d078"] {
        display: flex;
      }
    }
    .ww-element-8669824e-15fe-4217-8a05-76b672247c8e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 1.5rem;
      max-width: unset;
      min-width: unset;
      height: 1.5rem;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-310a489f-4078-49ff-8ee0-8042bf8f0773 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      font: var(--a52c954c-1829-45f5-ac47-4de459febd27, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-310a489f-4078-49ff-8ee0-8042bf8f0773 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-310a489f-4078-49ff-8ee0-8042bf8f0773 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-eb974616-26e2-4d49-966e-0fa149b846d7 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--3e186a16-30b5-4f7b-a2ea-e239a68bd833, 700 2.5rem/1.2 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: .4s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-name: ww-keyframes-element-eb974616-26e2-4d49-966e-0fa149b846d7-base-default;
    }
    @keyframes ww-keyframes-element-eb974616-26e2-4d49-966e-0fa149b846d7-base-default {
      0% {
        opacity: 0;
        transform: translateY(30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-eb974616-26e2-4d49-966e-0fa149b846d7 {
        font: 700 2rem/1.2 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-eb974616-26e2-4d49-966e-0fa149b846d7 {
        font: 700 1.75rem/1.2 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: grid;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d {
        display: grid;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d {
        display: grid;
      }
    }
    .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d.ww-layout, .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d [data-ww-layout-style-scopes~="b9c36d5f-2204-4c53-ae14-e7c78671474d"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
    }
    @media (max-width: 991px) {
      .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d.ww-layout, .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d [data-ww-layout-style-scopes~="b9c36d5f-2204-4c53-ae14-e7c78671474d"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d.ww-layout, .ww-element-b9c36d5f-2204-4c53-ae14-e7c78671474d [data-ww-layout-style-scopes~="b9c36d5f-2204-4c53-ae14-e7c78671474d"] {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    .ww-element-47057b14-0389-4953-957b-34618b44a059 {
      margin: 0 auto 50px;
      padding: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem) var(--3ac213ac-8c9e-4d40-993f-964f39a7a1f9, 1.5rem);
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-47057b14-0389-4953-957b-34618b44a059 {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-47057b14-0389-4953-957b-34618b44a059 {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    .ww-element-47057b14-0389-4953-957b-34618b44a059.ww-layout, .ww-element-47057b14-0389-4953-957b-34618b44a059 [data-ww-layout-style-scopes~="47057b14-0389-4953-957b-34618b44a059"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
    }
    @media (max-width: 991px) {
      .ww-element-47057b14-0389-4953-957b-34618b44a059.ww-layout, .ww-element-47057b14-0389-4953-957b-34618b44a059 [data-ww-layout-style-scopes~="47057b14-0389-4953-957b-34618b44a059"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-47057b14-0389-4953-957b-34618b44a059.ww-layout, .ww-element-47057b14-0389-4953-957b-34618b44a059 [data-ww-layout-style-scopes~="47057b14-0389-4953-957b-34618b44a059"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      }
    }
    .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a {
        white-space-collapse: preserve;
      }
    }
    .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-3c6f40c4-cf7c-4ab4-bb11-ca298b0d1f4a:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-597ce1ba-c6b3-446d-864f-920a73f86a43 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: 600px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--a52c954c-1829-45f5-ac47-4de459febd27, 600 1.5rem/1.3 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
      white-space-collapse: preserve;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: .6s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-name: ww-keyframes-element-597ce1ba-c6b3-446d-864f-920a73f86a43-base-default;
    }
    @keyframes ww-keyframes-element-597ce1ba-c6b3-446d-864f-920a73f86a43-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-597ce1ba-c6b3-446d-864f-920a73f86a43 {
        font: 500 1.25rem/1.4 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-597ce1ba-c6b3-446d-864f-920a73f86a43 {
        font: 400 1.125rem/1.4 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 {
      margin: 0;
      padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 4px 6px -1px #0000001a;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88, #E5E7EB);
      border-radius: 1rem;
    }
    @media (max-width: 991px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 {
        display: flex;
      }
    }
    .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35:hover {
      display: flex;
      box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
      transform: translateY(-4px);
    }
    .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout:hover, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"]:hover {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout:hover, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35.ww-layout:hover, .ww-element-9b028fd8-9aa1-4daf-905b-5dfc01ac5d35 [data-ww-layout-style-scopes~="9b028fd8-9aa1-4daf-905b-5dfc01ac5d35"]:hover {
        display: flex;
      }
    }
    .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc {
      margin: 0;
      padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      box-shadow: 0 4px 6px -1px #0000001a;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88, #E5E7EB);
      border-radius: 1rem;
    }
    @media (max-width: 991px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc {
        display: flex;
      }
    }
    .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc:hover {
      display: flex;
      box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
      transform: translateY(-4px);
    }
    .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout:hover, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"]:hover {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
    }
    @media (max-width: 991px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout:hover, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc.ww-layout:hover, .ww-element-bffa4358-9c2a-4efc-a868-49f643da67cc [data-ww-layout-style-scopes~="bffa4358-9c2a-4efc-a868-49f643da67cc"]:hover {
        display: flex;
      }
    }
    .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f.ww-layout, .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f [data-ww-layout-style-scopes~="efb7ea82-e690-4a3e-a33a-a044fb6d1d7f"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f.ww-layout, .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f [data-ww-layout-style-scopes~="efb7ea82-e690-4a3e-a33a-a044fb6d1d7f"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f.ww-layout, .ww-element-efb7ea82-e690-4a3e-a33a-a044fb6d1d7f [data-ww-layout-style-scopes~="efb7ea82-e690-4a3e-a33a-a044fb6d1d7f"] {
        display: flex;
      }
    }
    .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc {
      margin: 0;
      padding: 0 0 40px;
      z-index: 2;
      align-self: unset;
      display: flex;
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: 100px;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc {
        display: flex;
      }
    }
    .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc.ww-layout, .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc [data-ww-layout-style-scopes~="9ae6c4b4-dddf-44a9-bd62-42b9254229fc"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
    }
    @media (max-width: 991px) {
      .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc.ww-layout, .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc [data-ww-layout-style-scopes~="9ae6c4b4-dddf-44a9-bd62-42b9254229fc"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc.ww-layout, .ww-element-9ae6c4b4-dddf-44a9-bd62-42b9254229fc [data-ww-layout-style-scopes~="9ae6c4b4-dddf-44a9-bd62-42b9254229fc"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-2f287d84-4075-4190-9fce-f5b60c4dae16:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83 {
      margin: 0;
      padding: 5px 0 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      border-top: 0 none;
      border-bottom: 0 none;
      border-left: 0 none;
      border-right: 0 none;
      border-radius: 0;
    }
    .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83.ww-layout, .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83 [data-ww-layout-style-scopes~="89ea0408-1f54-4ff1-90cf-bd93b3a05e83"] {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
    }
    @media (max-width: 991px) {
      .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83.ww-layout, .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83 [data-ww-layout-style-scopes~="89ea0408-1f54-4ff1-90cf-bd93b3a05e83"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83.ww-layout, .ww-element-89ea0408-1f54-4ff1-90cf-bd93b3a05e83 [data-ww-layout-style-scopes~="89ea0408-1f54-4ff1-90cf-bd93b3a05e83"] {
        display: flex;
      }
    }
    .ww-element-95ab3eee-28aa-433b-8cbc-ab259b4d9521 {
      margin: 0 0 0 15px;
      padding: 0;
      z-index: unset;
      align-self: center;
      display: flex;
      width: 20px;
      flex: 0 1 auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-c9c72a04-d7d6-4be7-a202-8efade4a2344 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: flex-end;
      display: flex;
      width: 24px;
      max-width: unset;
      min-width: unset;
      height: 24px;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a {
      margin: 0;
      padding: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem) var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      white-space-collapse: preserve;
      background-color: #0000;
      cursor: pointer;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: 2px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      border-radius: .75rem;
      --ww-element-transition: all 0.3s ease;
    }
    @media (max-width: 991px) {
      .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a {
        width: 100%;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a:hover {
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      box-shadow: 0 4px 6px -1px #6b46c133;
      transform: translateY(-2px);
    }
    @media (max-width: 991px) {
      .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-f157cc0c-70da-4391-a30e-65b34c8c0a1a:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04 {
      margin: 0;
      padding: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem) var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      cursor: pointer;
      box-shadow: 0 4px 6px -1px #6b46c14d;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: none;
      border-radius: .75rem;
      --ww-element-transition: all 0.3s ease;
    }
    @media (max-width: 991px) {
      .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04 {
        width: 100%;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04:hover {
      white-space-collapse: preserve;
      background-color: var(--8B5CF6, #8B5CF6);
      box-shadow: 0 10px 15px -3px #6b46c166;
      transform: translateY(-2px);
    }
    @media (max-width: 991px) {
      .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ec41f86d-2aca-44fb-8d89-bbba49468f04:hover {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
