@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 {
      height: auto;
      margin: 0 0 0 var(--971ff869-f1a7-43f5-a739-a592b2e05b9e, 16rem);
      z-index: unset;
      overflow: hidden;
      min-height: 100vh;
      max-height: unset;
      display: flex;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    @media (max-width: 767px) {
      .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 {
        margin: 0;
        display: flex;
      }
    }
    .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 > .ww-section-element {
      --ww-section-root-auto-align: center;
      --ww-section-root-auto-width: 100%;
      width: 100%;
      padding: 60px 20px 30px;
      max-width: unset;
      min-width: unset;
      min-height: 100vh;
      max-height: unset;
      box-shadow: 0 2px 6px #0000000f;
    }
    @media (max-width: 767px) {
      .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 > .ww-section-element {
        padding: 4rem 0 0;
      }
    }
    .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      align-items: stretch;
    }
    @media (max-width: 991px) {
      .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 > .ww-section-element.ww-layout {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-section-aed2ac60-32e7-4d83-9a25-6708492a3273 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-d3074f64-50c3-404a-a3d8-d47de3bfad69 {
      margin: 0;
      padding: 20px 0 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 20px;
      font-family: var(--ww-default-font-family);
      font-weight: 400;
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7,#6B7280);
      white-space-collapse: preserve;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
      --ww-text-white-space: initial;
      --ww-text-overflow: initial;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-d3074f64-50c3-404a-a3d8-d47de3bfad69 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d3074f64-50c3-404a-a3d8-d47de3bfad69 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-eb3605c7-9d74-4f6b-9e1a-8c1a62c75e08 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      border-top: 0 solid #9ca3af;
      border-bottom: 1px solid #e5e7eb;
      border-left: 0 solid #9ca3af;
      border-right: 0 solid #9ca3af;
    }
    .ww-element-3a16b9fc-eb87-4b52-a869-cf13298775e5 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--3e186a16-30b5-4f7b-a2ea-e239a68bd833, 700 2.5rem/1.2 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--fa0df1f0-674e-4725-b07b-fba23b45c9d6, #111827);
      white-space-collapse: preserve;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: .4s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-name: ww-keyframes-element-3a16b9fc-eb87-4b52-a869-cf13298775e5-base-default;
    }
    @keyframes ww-keyframes-element-3a16b9fc-eb87-4b52-a869-cf13298775e5-base-default {
      0% {
        opacity: 0;
        transform: translateY(30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-3a16b9fc-eb87-4b52-a869-cf13298775e5 {
        font: 700 2rem/1.2 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-3a16b9fc-eb87-4b52-a869-cf13298775e5 {
        font: 700 1.75rem/1.2 var(--ww-default-font-family, sans-serif);
        white-space-collapse: preserve;
      }
    }
    .ww-element-362dae03-34ea-4067-9026-b873b4450d5c {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--cc540069-0132-4820-803b-67fe555d743d,#F9FAFB);
    }
    .ww-element-362dae03-34ea-4067-9026-b873b4450d5c.ww-layout, .ww-element-362dae03-34ea-4067-9026-b873b4450d5c [data-ww-layout-style-scopes~="362dae03-34ea-4067-9026-b873b4450d5c"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-element-362dae03-34ea-4067-9026-b873b4450d5c.ww-layout, .ww-element-362dae03-34ea-4067-9026-b873b4450d5c [data-ww-layout-style-scopes~="362dae03-34ea-4067-9026-b873b4450d5c"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-362dae03-34ea-4067-9026-b873b4450d5c.ww-layout, .ww-element-362dae03-34ea-4067-9026-b873b4450d5c [data-ww-layout-style-scopes~="362dae03-34ea-4067-9026-b873b4450d5c"] {
        display: flex;
      }
    }
    .ww-element-89d2f9bd-da4c-43f4-ab78-5c3b9bc63cb4 {
      margin: 0 6px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 {
      margin: 0;
      padding: 16px;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 32%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      box-shadow: 0 1px 4px #000;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8-base-default;
      border: 1px solid var(--9feeba28-6ae4-4c41-9d2e-ccee2133dc88,#E5E7EB);
      border-radius: 8px;
    }
    @keyframes ww-keyframes-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8-base-default {
      0% {
      }
      100% {
      }
    }
    @media (max-width: 991px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 {
        width: 100%;
      }
    }
    .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8:hover {
      overflow: hidden;
      box-shadow: 0px 5px 8px 0px var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      transform: scale3d(1, 1, 1) translate3d(0, -3px, 0) rotateX(0) rotateY(0) rotateZ(0);
      border: 1px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
    }
    .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"] {
      display: flex;
      flex-flow: column;
      row-gap: 12px;
    }
    @media (max-width: 991px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"] {
        display: flex;
      }
    }
    .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout:hover, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout:hover, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8.ww-layout:hover, .ww-element-ee712422-ec52-4480-9a65-b5cccdf1a4f8 [data-ww-layout-style-scopes~="ee712422-ec52-4480-9a65-b5cccdf1a4f8"]:hover {
        display: flex;
      }
    }
    .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c {
      margin: 0;
      padding: 0;
      z-index: 2;
      align-self: center;
      display: flex;
      position: revert-layer;
      inset: revert-layer;
      max-width: 800px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 991px) {
      .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c {
        display: flex;
      }
    }
    .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c.ww-layout, .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c [data-ww-layout-style-scopes~="c82536e3-c370-49b1-bc17-4f22bba4044c"] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
    }
    @media (max-width: 991px) {
      .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c.ww-layout, .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c [data-ww-layout-style-scopes~="c82536e3-c370-49b1-bc17-4f22bba4044c"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c.ww-layout, .ww-element-c82536e3-c370-49b1-bc17-4f22bba4044c [data-ww-layout-style-scopes~="c82536e3-c370-49b1-bc17-4f22bba4044c"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
        column-gap: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      }
    }
    .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: block;
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      flex: 0 1 auto;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2.ww-layout, .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 [data-ww-layout-style-scopes~="56a17da7-e817-4c9e-89a8-41fcb03ec8b2"] {
      display: block;
    }
    .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 [data-ww-layout-style-scopes~="56a17da7-e817-4c9e-89a8-41fcb03ec8b2"] {
      height: 100%;
    }
    @media (max-width: 991px) {
      .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2.ww-layout, .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 [data-ww-layout-style-scopes~="56a17da7-e817-4c9e-89a8-41fcb03ec8b2"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2.ww-layout, .ww-element-56a17da7-e817-4c9e-89a8-41fcb03ec8b2 [data-ww-layout-style-scopes~="56a17da7-e817-4c9e-89a8-41fcb03ec8b2"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d,3rem);
      }
    }
    .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b {
      margin: 0 auto;
      padding: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem) var(--3ac213ac-8c9e-4d40-993f-964f39a7a1f9, 1.5rem);
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: var(--ww-section-root-auto-width, revert-layer);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    @media (max-width: 991px) {
      .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b {
        padding: var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem) var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        display: flex;
      }
    }
    .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b.ww-layout, .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b [data-ww-layout-style-scopes~="64efc7c7-e0ef-42e3-bfee-4075e4f6a57b"] {
      display: flex;
      flex-flow: column;
      row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
    }
    @media (max-width: 991px) {
      .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b.ww-layout, .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b [data-ww-layout-style-scopes~="64efc7c7-e0ef-42e3-bfee-4075e4f6a57b"] {
        display: flex;
        flex-flow: column;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      }
    }
    @media (max-width: 767px) {
      .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b.ww-layout, .ww-element-64efc7c7-e0ef-42e3-bfee-4075e4f6a57b [data-ww-layout-style-scopes~="64efc7c7-e0ef-42e3-bfee-4075e4f6a57b"] {
        display: flex;
        flex-flow: column;
        row-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
        column-gap: var(--80f51334-fb49-495a-931e-81f0e889467d, 3rem);
      }
    }
    .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a {
      margin: 0;
      padding: 0 0 8px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
    }
    .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a.ww-layout, .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a [data-ww-layout-style-scopes~="c870a78e-67c9-41ef-ba21-3a7d446b9b3a"] {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 5px;
    }
    @media (max-width: 991px) {
      .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a.ww-layout, .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a [data-ww-layout-style-scopes~="c870a78e-67c9-41ef-ba21-3a7d446b9b3a"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a.ww-layout, .ww-element-c870a78e-67c9-41ef-ba21-3a7d446b9b3a [data-ww-layout-style-scopes~="c870a78e-67c9-41ef-ba21-3a7d446b9b3a"] {
        display: flex;
      }
    }
    .ww-element-accd2885-effe-40f8-b4f8-791c3795add5 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      width: 60%;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      --wwi-ar: unset;
    }
    .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4.ww-layout, .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4 [data-ww-layout-style-scopes~="d383816b-5fc8-49e3-93e3-c59bd1019df4"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4.ww-layout, .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4 [data-ww-layout-style-scopes~="d383816b-5fc8-49e3-93e3-c59bd1019df4"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4.ww-layout, .ww-element-d383816b-5fc8-49e3-93e3-c59bd1019df4 [data-ww-layout-style-scopes~="d383816b-5fc8-49e3-93e3-c59bd1019df4"] {
        display: flex;
      }
    }
    .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e.ww-layout, .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e [data-ww-layout-style-scopes~="c0250f1b-0f6b-4dc7-8a90-955defe6581e"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e.ww-layout, .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e [data-ww-layout-style-scopes~="c0250f1b-0f6b-4dc7-8a90-955defe6581e"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e.ww-layout, .ww-element-c0250f1b-0f6b-4dc7-8a90-955defe6581e [data-ww-layout-style-scopes~="c0250f1b-0f6b-4dc7-8a90-955defe6581e"] {
        display: flex;
      }
    }
    .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259 {
      margin: 0;
      padding: 10px 24px;
      z-index: unset;
      align-self: center;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      font-weight: 500;
      color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      white-space-collapse: preserve;
      background-color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7,#FFFFFF);
      cursor: pointer;
      box-shadow: 0 2px 4px #0000001a;
      transition: all 0.2s ease;
      border: none solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c,#6B46C1);
      border-radius: 8px;
      --ww-element-transition: all 0.2s ease;
    }
    @media (max-width: 991px) {
      .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259:hover {
      color: #7c3aed;
      white-space-collapse: preserve;
      background-color: #f5f0ff;
      box-shadow: 0 4px 6px #0000001a;
      transform: translateY(-1px);
    }
    @media (max-width: 991px) {
      .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-26e72deb-1a6d-4664-bcf1-86a452899259:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-4626d587-a854-4163-9aaf-edd56d866829 {
      margin: 0 0 0 6px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-4626d587-a854-4163-9aaf-edd56d866829[data-ww-states~="_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX"] {
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-4626d587-a854-4163-9aaf-edd56d866829-_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX-default;
    }
    @keyframes ww-keyframes-element-4626d587-a854-4163-9aaf-edd56d866829-_wwParent_6d7ddbe6-2f18-4d3f-b5e1-9e4bb68eebe2_H1pUBX-default {
      0% {
      }
      100% {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(360deg);
      }
    }
    .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: .8s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      animation-name: ww-keyframes-element-d3b03112-e24d-46d8-a8db-2b645afa5beb-base-default;
    }
    @keyframes ww-keyframes-element-d3b03112-e24d-46d8-a8db-2b645afa5beb-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb {
        display: flex;
        width: 100%;
      }
    }
    .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb.ww-layout, .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb [data-ww-layout-style-scopes~="d3b03112-e24d-46d8-a8db-2b645afa5beb"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb.ww-layout, .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb [data-ww-layout-style-scopes~="d3b03112-e24d-46d8-a8db-2b645afa5beb"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        flex-wrap: revert-layer;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb.ww-layout, .ww-element-d3b03112-e24d-46d8-a8db-2b645afa5beb [data-ww-layout-style-scopes~="d3b03112-e24d-46d8-a8db-2b645afa5beb"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
        column-gap: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem);
      }
    }
    .ww-element-22b22674-663f-4c3b-a06c-c634a8538324 {
      margin: 0;
      padding: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem) var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      cursor: pointer;
      box-shadow: 0 4px 6px -1px #6b46c14d;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: none;
      border-radius: .75rem;
      --ww-element-transition: all 0.3s ease;
    }
    @media (max-width: 991px) {
      .ww-element-22b22674-663f-4c3b-a06c-c634a8538324 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-22b22674-663f-4c3b-a06c-c634a8538324 {
        width: 100%;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-22b22674-663f-4c3b-a06c-c634a8538324:hover {
      white-space-collapse: preserve;
      background-color: var(--8B5CF6, #8B5CF6);
      box-shadow: 0 10px 15px -3px #6b46c166;
      transform: translateY(-2px);
    }
    @media (max-width: 991px) {
      .ww-element-22b22674-663f-4c3b-a06c-c634a8538324:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-22b22674-663f-4c3b-a06c-c634a8538324:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--9dcd74f9-6355-4ce9-89ae-157f45550d30, 400 1rem/1.5 var(--ww-default-font-family, sans-serif));
      text-align: center;
      color: var(--ba734203-55f3-440e-bb47-127cc018e9a7, #6B7280);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1 {
        white-space-collapse: preserve;
      }
    }
    .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a70eebb2-bfb8-48a8-a336-540dfd1de8c1:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f {
      margin: 50px 0 80px;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f.ww-layout, .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f [data-ww-layout-style-scopes~="b2f61480-1209-4e0e-80cb-d2b84024143f"] {
      display: flex;
      flex-flow: wrap;
      align-content: revert-layer;
      gap: 30px 22px;
    }
    @media (max-width: 991px) {
      .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f.ww-layout, .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f [data-ww-layout-style-scopes~="b2f61480-1209-4e0e-80cb-d2b84024143f"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f.ww-layout, .ww-element-b2f61480-1209-4e0e-80cb-d2b84024143f [data-ww-layout-style-scopes~="b2f61480-1209-4e0e-80cb-d2b84024143f"] {
        display: flex;
      }
    }
    .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5 {
      margin: 0;
      padding: var(--6ceaa39e-4e94-4cca-88bc-da34ed61dde9, 1rem) var(--653b8f00-b080-4ab5-b0a6-961a5fa0c53f, 2rem);
      z-index: unset;
      align-self: unset;
      display: flex;
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font: var(--8b634e09-fb5a-4294-a871-0d3ddd45b9cf, 500 1rem/1.5 var(--ww-default-font-family, sans-serif));
      color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      white-space-collapse: preserve;
      background-color: #0000;
      cursor: pointer;
      transition: all 0.3s ease;
      transform: translateY(0);
      border: 2px solid var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      border-radius: .75rem;
      --ww-element-transition: all 0.3s ease;
    }
    @media (max-width: 991px) {
      .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5 {
        width: 100%;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5:hover {
      color: var(--a0807a87-ef9f-4369-b558-9fe92fcd4dd7, #FFFFFF);
      white-space-collapse: preserve;
      background-color: var(--bd6a542c-8470-4a5d-b59f-0c45d3e4a36c, #6B46C1);
      box-shadow: 0 4px 6px -1px #6b46c133;
      transform: translateY(-2px);
    }
    @media (max-width: 991px) {
      .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-64d6a891-b705-4fcc-b301-3281a83530b5:hover {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
  }
}
